.recordHeader
  %h2= link_to 'Editovat infobox', '#'
.recordPath
.recordEdit

  = error_messages_for :info_box

  - form_for @info_box, :url => object_url, :html => { :method => :put } do |f|
    %fieldset
      = render :partial => "form", :locals => { :f => f }
      = render(:partial => 'shared/admin/add_images_to_edit')
      %br
      %p= submit_tag "Upravit"