= f.label :title, 'Název:'
= f.text_field :title, :class => 'inp'
%br
%br
= f.label :name, 'Nadpis:'
= f.text_field :name, :class => 'inp'
%br
%br  
= f.label :text, 'Text:'
%br
= f.text_area :text
%br
%br
-#= f.label :author_id, 'Vyberte autora clanku:'
-#= f.select(:author_id, Author.all.collect {|a| [ a.full_name, a.id ] })