%tr{ :id => "infobox_#{info_box.id}" }
  %td{ :class => "listItem l1"}
    .cropLine= link_to info_box.title, '#', :title => info_box.title , :id => "edititem1_#{info_box.id}", :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td= info_box.name
  %td= admin_date(info_box.updated_at)
  = render(:partial => 'shared/admin/edit_delete', :locals => { :obj => info_box, :del => 'InfoBox' })