	<% if @author_image %>
	<div class="img">
			<%= link_to(main_image_tag(@author_image), author_info_path(pretty_name(@author))) %>
	</div> <!-- /.img -->
	<% end %>

	<div class="self">
	 <h3 class="head alt"><%= link_to @author.full_name, author_info_path(pretty_name(@author)) %></h3> 
	 <p class="info"><%= @article.publish_date.to_s(:cz_date) %></p>
	 <% if @article.updated_at > @article.publish_date %>
	 	<p class="info">Aktualizováno: 
	 	<% if @article.updated_at.day == @article.publish_date.day %>
	 		<%= @article.updated_at.strftime("%H:%M") %>
		<% else %>
			<%= @article.updated_at.strftime("%d.%m.%Y %H:%M") %>
		<% end %>
		</p>
	 <% end %>
	 <ul>
	   <li><%= link_to @section.name, section_path(pretty_name(@section)) if @section %></li>
	   <li><%= @article.content_type.name %></li>
	 </ul>
	</div> <!-- /.self -->
