<div id="comment_<%=comment.id-%>" class="item itemSmallImage <%= (@comments.last == comment) ? 'last' : '' %>">
	<% web_us = comment.web_user -%>
	<% art = comment.article %>
	<div class="img">
	 <% if web_us %>
	  <%= image_tag(web_us.photo.url(:thumb)) if web_us.photo.file? %>
	  <% end %>
	</div> <!-- /.img -->
	
	<div class="self">
	  <h4>
	  <% if web_us %>
      <%= link_to web_us.full_name, user_info_path("#{web_us.id}-#{web_us.full_name.parameterize}") %>
      <%= web_us.comment_info %>
		<% end %>
  </h4>
    <% if @article %>
      <p><b><%= comment.name %></b> <%= comment.comment_date %></p>
    <% elsif !comment.name.blank? %>
      <p><b><%= link_to comment.name, detail_article_path(pretty_id(art)) + "#comment_#{comment.id}"%></b> <%= comment.comment_date %></p>
    <% else %>
      <p><b><%= link_to "Bez názvu", detail_article_path(pretty_id(art)) + "#comment_#{comment.id}"%></b> <%= comment.comment_date %></p>
    <% end %>
	  <p>
	  	<!--<a href="">TODO Zavadny link</a>-->
		<%= link_to "Smazat", delete_comment_path(:id=>comment.id), :confirm=>"Opravdu?" if (@web_user && @web_user.can_modify?(comment)) %>
	  </p>
	  <% if @article %>
	  <p class="comment"><%=th h(comment.text) %></p>
    <% else %>
      V diskusi k článku:<br />
      <%= art.name %>
	  <% end %>
	


<% a_url = detail_article_url(pretty_id(@article)) + "#comment_#{comment.id}" %>
<% a_title = (comment.name) %>
<ul>
	<li class="displayOverlay">
		<a href="" class="share">Sdílet</a>
		<div class="overlay overlayEmail">
			<%= exit_span %>
 			<h4 class="t">Sdílet</h4>
			<ul>
			  <li><%= link_to "Facebook", "http://www.facebook.com/share.php?u=#{a_url}&title=#{a_title}",:target=>"_blank" %></li>
			  <li><%= link_to "Twitter", "http://cnntweet.appspot.com/articles/#{a_url}/#{a_title}/tweet/",:target=>"_blank" %></li>
			  <li><%= link_to "Digg", "http://digg.com/submit?phase=2&amp;url=#{a_url}&title=#{a_title}",:target=>"_blank" %></li>
			  <li><%= link_to "Delicious", "http://del.icio.us/post?v=4&amp;partner=cnn&amp;noui&amp;jump=close&amp;url=#{a_url}&title=#{a_title}",:target=>"_blank" %></li>
			  <li><%= link_to "Myspace", "http://www.myspace.com/Modules/PostTo/Pages/?t=#{a_title}&u=#{a_url}",:target=>"_blank" %></li>
			</ul>
        </div> <!-- /.overlay -->
	</li>
</ul>
</div> <!-- /.self -->
</div> <!-- /.item -->
