<div class="item itemSmallImage <%= (@comments.last == comment) ? 'last' : '' %>">
	<div class="img">
	  <%= image_tag(comment.web_user.photo.url(:thumb)) if comment.web_user.photo.file? %>
	</div> <!-- /.img -->
	
	<div class="self">
	  <h4>
	  	<%= link_to comment.web_user.full_name, user_info_path("#{comment.web_user.id}-#{comment.web_user.full_name.parameterize}") %>
		<%= comment.web_user.comment_info %>
		<%= "- Autor" if comment.web_user.author == comment.article.author %>
	  </h4>
	  <p><b><%= comment.name %></b> <%= comment.comment_date %></p>
	  <p>
	  	<!--<a href="">TODO Zavadny link</a>-->
		<%= link_to "Smazat", delete_comment_path(:id=>comment.id), :confirm=>"Opravdu?" if (@web_user && @web_user.can_modify?(comment)) %>
	  </p>
	  <p class="comment"><%=th h(comment.text) %></p>
	</div> <!-- /.self -->
</div> <!-- /.item -->