<% if !(@printable && @comments.length == 0) %>
<h3 class="h line">Diskuze (<%= @comments.length -%> příspěvků)</h3>
<div class="in">
	
  <% if (!web_user_logged_in? && @comments.length > 8 && !@printable) %>
	  <p>Pro vložení příspěvku musíte být zaregistrováni a přihlášeni.</p>
	  <ul>
	    <li><%= link_to "Registrovat", signup_path %></li>
	    <li><%= link_to "Přihlásit", login_path %></li>
	  </ul>
  <% end %>
  <%= render :partial=>"web/articles/comment", :collection=>@comments %>
	<% if !web_user_logged_in? && !@printable %>
	  <p>Pro vložení příspěvku musíte být zaregristrováni a přihlášeni.</p>
	  <ul>
	    <li><%= link_to "Registrovat", signup_path %></li>
	    <li><%= link_to "Přihlásit", login_path %></li>
	  </ul>
	<% elsif @web_user.can_create_comment?(@article) %>
	  <% form_for(:comment,@comment,:url=>{:action=>"add_comment",:id=>@article.id},:html=>{:class=>"item itemSmallImage formBox"}) do |f| %>
	  	<div style="color:red;"><%= f.error_messages %></div>
		<fieldset>
		    <div class="img">
		      <%= image_tag(@web_user.photo.url(:thumb)) if @web_user.photo.file? %>
		    </div> <!-- /.img -->
		    
		    <div class="self">
		        <h4><%= @web_user.comment_info %></h4>
		        <%= link_to "Odhlásit se", logout_path %>
		        <!--<p>TODO Zbyva 1000 znaku</p>-->
		        <%= f.text_area :text, :size=>"30x7", :class=>"button w100"%>
				<%= f.hidden_field :article_id, :value=> @article.id %>
				<%= f.hidden_field :web_user_id, :value=> @web_user.id %>
				<%= f.submit "Potvrdit", :class=>"submit fl"%>
		        <a href="/stranka/eticky-kodex-diskusi" class="fr">Kodex - Pravidla diskuze</a>
		    </div>
	   </fieldset>
	   <% end %>
	<% else %>
		<% "Nemáte zaplacený účet, nebo nemáte dovoleno psát do této diskuze" if !@printable %>	   
   <% end %>
</div> <!-- /.in -->
<% end %>