<% if @headliner_box %>
<div class="item itemBig">
  <div class="img">
  	<% if @headliner_box.article.content_type.video? %>
		<%= @headliner_box.article.new_videodata %>
	<% elsif (fh = FlashphotoHeadliner.find(:all,:conditions=>{:headliner_box_id=>@headliner_box.id},:order=>"updated_at DESC").first) %>	
		<%= link_to(image_tag(fh.photo.url), detail_article_path(pretty_id(@headliner_box.article))) %>
	<% elsif @headliner_box.picture %>
		<%= link_to(main_image_tag(@headliner_box.picture.data.url(:hp_main)), detail_article_path(pretty_id(@headliner_box.article))) %>
	<% end %>
	<div class="caption">
	    <span><%= @headliner_box.info %></span>
	</div> <!-- /.caption -->
  </div> <!-- /.img -->
  
  <div class="self">
    <h2 class="head">
    	<%= link_to @headliner_box.headline, detail_article_path(pretty_id(@headliner_box.article))  %>
	</h2>
    <p class="perex">
    	<%=th @headliner_box.perex -%> <%#= link_to "...", articles_path(:action=>"detail",:id=>@headliner_box.article.id) %>
	</p>
  </div> <!-- /.self -->
</div> <!-- /.item -->
<% end %>