<div class="item<%=small_class ? ' itemSmallImage' : '' -%>">
	<div class="img">
		<% if ((controller.action_name == "index" || @section && @section.id == Section::NAZORY) && left_article.content_type_id == ContentType::GLOSA) %>
		<% else %>
			<% if @article_photo_show %>
			  <%= article_first_photo(left_article) %>
			<% else %>
				<%= article_photo(left_article) %>
		  	<% end %>
		<% end %>
	</div> <!-- /.self -->
	
	<div class="self">
	  <p class="info">
	  	<%=th left_article.head -%>
		<% if with_date %>
			<span><%= left_article.publish_date.to_s(:cz_date) if (left_article.publish_date && left_article.publish_date < Time.now.beginning_of_day) %></span>
		<% end %>
	  </p>
	  <h3 class="head">
	  	<% name = article_name(left_article) %>
		<% name = left_article.name if controller.action_name == "author_info" %>
	  	<%= link_to name, detail_article_path(pretty_id(left_article)) -%>
	  </h3>
	  <p class="perex">
	  	<%=th left_article.perex -%>
	  </p>
	</div> <!-- /.self -->
</div> <!-- /.item -->