<% voted = (@message || cookies["question_id_#{Time.now.to_date}"] &&  cookies["question_id_#{Time.now.to_date}"].split(';').include?(@question.id.to_s))  %>
<% show_results = (voted || !@question.can_vote?)%>
<% yes_results = @question.yes_title_results %>
<% no_results = @question.no_title_results %>
<div class="answer">
    <% if voted or !@question.can_vote? %>
      <div class="label">Ano</div>    
    <% end %>
    <div class="bar">
      <span class="in" style="width: <%= show_results ? @y_votes : 0 -%>%;" title="<%= show_results ? yes_results : ''%>">
      	<span class="value">
      		<% if voted %>
			<% elsif @question.can_vote? %>
      			<%= link_to_remote("Ano", :url=>{:controller=>"web/articles/vote", :question_id=>@question.id, :vote_value=>1}) %>
			<% end %>
		    </span>
	    </span>
    </div> <!-- /.bar -->
</div> <!-- /.answer -->

<div class="answer">
    <% if voted or !@question.can_vote? %>
      <div class="label">Ne</div>    
    <% end %>
    <div class="bar even">
      <span class="in" style="width: <%= show_results ? @n_votes : 0-%>%;" title="<%= show_results ? no_results : ''%>">
      	<span class="value">
      	<% if voted %>
			<% elsif @question.can_vote? %>
	      		<%= link_to_remote("Ne", :url=>{:controller=>"web/articles/vote", :question_id=>@question.id, :vote_value=>0}) %>
			<% end %>
	  	</span>
	  </span>
	</div> <!-- /.bar -->
</div> <!-- /.answer -->
<p id="message-<%=@question.id-%>">
  <%= @message %>
  <% if voted and !@message or !@question.can_vote?%>
    <%= @message_all %>
  <% end %>
</p>
