<div class="box cols boxAuthor">
   <div class="col1">
     <%= main_image_tag(@author_image.data.url(:author_image)) if @author_image %>
   </div> <!-- /.col1 -->
   
   <div class="col2">
     <h2 class="head"><%= @author.full_name %></h2>
     <table>
	   <% if !@author.email.blank? %>
       <tr>
		<th>E-mail</th>
		<td><%= mail_to @author.email, @author.email %></td>
       </tr>
	   <% end %>
	   <% if !@author.linkedin.blank? %>
       <tr>
		<th>LinkedIn</th>
		<td><%= link_to @author.linkedin, @author.linkedin %></td>
       </tr>
	   <% end %>
       <% if !@author.twitter.blank? %>
       <tr>
		<th>Twitter</th>
		<td><%= link_to @author.twitter, @author.twitter %></td>
       </tr>
	   <% end %>
	   <% if !@author.facebook.blank? %>
       <tr>
		<th>Facebook</th>
		<td><%= link_to @author.facebook, @author.facebook %></td>
       </tr>
	   <% end %>
	   <% if !@author.phone.blank? %>
       <tr>
		<th>Mobil</th>
		<td><%= @author.phone %></td>
       </tr>
	   <% end %>
	    <% if @author.web_user_id %>
        <tr>
          <% web_user = WebUser.find_by_id(@author.web_user_id) %>
         <th colspan="2"><%= @author.full_name %> je autorem diskusních příspěvků, které nalaznete <%= link_to "zde", user_info_path("#{@author.web_user_id}-#{web_user.full_name.parameterize}") %>.</th>
       </tr>
	   <% end %>
     </table>
   </div> <!-- /.col2 -->
 </div> <!-- /.cols -->
 
 <div class="box cols line">
   <div class="col1">
     <h3 class="h">Profil</h3>
     <p><%= @author.cv %></p>
   </div> <!-- /.col1 -->
   
   <div class="col2">
     <%= render :partial=>"web/articles/left_article", :collection=>@articles,:locals=>{:with_date=>true,:small_class=>false} %>
     
     <div class="paging">
       <p class="count">Zobrazeno <%= @articles.length %> / <%= @articles.total_entries %></p>
       <ul class="pages">
			<%= will_paginate @articles %>
       </ul>

     </div> <!-- /.paging -->
   
   </div> <!-- /.col2 -->
 </div> <!-- /.box -->
