<div class="box boxDetail">
   <h2 class="head"><%= @article.name %></h2>
   <p class="perex"><%=th @article.perex %></p>
   
   <% cond = !ContentType.author_nick_types.include?(@article.content_type_id)%>
   <div class="cols detailImage line">
     <div class="col1 item itemSmallImage itemSmall<%= ' noImg' unless (@author_image && cond && !@printable) -%>">
       <%= render :partial=>"web/articles/author_box" %>
     </div> <!-- /.col1 -->
     
     <div class="col2 mainImage">
     	<% if @article.content_type.video? %>
			<%= @article.new_videodata %>
		<% else %>
			<% im = main_image_tag(@article_image.data.url(:hp_main)) %>
       <%= (@article.pictures.count > 1) ? link_to(im, gallery_article_path(pretty_id(@article))) : im %>
        <p class="info">
       <%= link_to("Galerie", gallery_article_path(pretty_id(@article))) if @article.pictures.count > 1 %>
			<%= @article_image.info(@article.first_image_title) %>
			</p>
		<% end %>
     </div> <!-- /.col2 -->
	 
   </div> <!-- /.cols -->
   
   <div class="cols detailContent">
     <div class="col1">
       <div class="box boxLine">
		<%= render :partial=>"web/articles/left_box" %>
       </div> <!-- /.box -->
       
		<%= render :partial=>"web/articles/profil" %>
       
       <div class="box">
		<%= render :partial=>"web/articles/rel_articles" %>
       </div> <!-- /.box -->
     </div> <!-- /.col1 -->
     
     <div class="col2">
       <div class="text">
		<p><%=th @article.text %></p>
       </div> <!-- /.text -->
	   <% if @article.audios.count > 0 %>
	   <div class="box">
		<%= render :partial=>"web/articles/audio" %>
       </div> <!-- /.box -->
	   <% end %>
	   <% if @article.insets.count > 0 %>
	   <div class="box">
		<%= render :partial=>"web/articles/insets" %>
       </div> <!-- /.box -->
	   <% end %>
	   <% if @older_videos %>
	   <div class="box">
	   		<% @older_videos.each do |ov| %>
				<%= ov.order_date.to_s(:cz_date) %> - <%= link_to article_name(ov), detail_article_path(pretty_id(ov)) -%><br />
			<% end %>
	   </div>
	   <% end %>	
       <div class="box boxComments noprint">
		<%= render :partial=>"web/articles/discuss" %>
       </div> <!-- /.box -->
       
     </div> <!-- /.col2 -->

   </div> <!-- /.cols -->
 </div> <!-- /.box -->
        
