<div class="box boxDetail">
	<h2 class="head"><%= @article.name %></h2>
	<p class="perex"><%=th @article.perex %></p>
	
	<div class="cols detailContent line">
	  <div class="col1">
	  	<% cond = !ContentType.author_nick_types.include?(@article.content_type_id)%>
	    <div class="box item itemSmallImage itemSmall<%= ' noImg' unless @author_image && cond -%>">
	       <%= render :partial=>"web/articles/author_box" %>
	    </div> <!-- /.box -->
	    
	    <div class="box boxLine">
	      <%= render :partial=>"web/articles/left_box" %>
	    </div> <!-- /.box -->
	    
		 <%= render :partial=>"web/articles/profil" %>
		
	    <div class="box">
	      <%= render :partial=>"web/articles/rel_articles" %>
	    </div> <!-- /.box -->
	  </div> <!-- /.col1 -->
	  
	  <div class="col2">
	    <div class="text">
	      <p><%=th @article.text %></p>
	    </div> <!-- /.text -->
	    <div class="box">
		<%= render :partial=>"web/articles/audio" %>
       </div> <!-- /.box -->
	   <div class="box">
		<%= render :partial=>"web/articles/insets" %>
       </div> <!-- /.box -->
	    <div class="box boxComments">
	      <%= render :partial=>"web/articles/discuss" %>
	    </div> <!-- /.box -->
	    
	  </div> <!-- /.col2 -->
	
	</div> <!-- /.cols -->
</div> <!-- /.box -->
