<div class="box boxDetail">
   <h2 class="head"><%= @article.name %></h2>
   <p class="perex"><%=th @article.perex %></p>
   
   <div class="cols detailImage line">
     <div class="col1 item itemSmallImage itemSmall<%= ' noImg' unless @author_image -%>">
       <%= render :partial=>"web/articles/author_box" %>
     </div> <!-- /.col1 -->
     
     <div class="col2 mainImage">
     	<% if @article.content_type_id == ContentType::VIDEO %>
			<%= @article.new_videodata %>
		<% else %>
			<% im = main_image_tag(@article_image.data.url(:hp_main)) %>
	       <%= (@article.pictures.count > 1) ? link_to(im,:action=>"detail_gallery",:id=>@article.id) : im %>
	       <p class="info">
	       	<%= link_to("Galerie", :action=>"detail_gallery",:id=>@article.id) if @article.pictures.count > 1 %>
			<%= @article_image.info %>
			</p>
		<% end %>
     </div> <!-- /.col2 -->
	 
   </div> <!-- /.cols -->
   
   <div class="cols detailContent">
     <div class="col1">
       <div class="box boxLine">
		<%= render :partial=>"web/articles/left_box" %>
       </div> <!-- /.box -->
       
		<%= render :partial=>"web/articles/profil" %>
       
       <div class="box">
		<%= render :partial=>"web/articles/rel_articles" %>
       </div> <!-- /.box -->
     </div> <!-- /.col1 -->
     
     <div class="col2">
       <div class="text">
		<p><%=th @article.text %></p>
       </div> <!-- /.text -->
	   
       <div class="box boxComments">
		<%= render :partial=>"web/articles/discuss" %>
       </div> <!-- /.box -->
       
     </div> <!-- /.col2 -->

   </div> <!-- /.cols -->
 </div> <!-- /.box -->
        