<div class="box boxDetail">
	<h2 class="head"><%= @article.name %></h2>
	<p class="perex"><%= @article.perex %></p>
	
	<div class="cols detailContent line">
	  <div class="col1">
	    <div class="box item itemSmallImage itemSmall<%= ' noImg' unless @author_image -%>">
	       <%= render :partial=>"web/articles/author_box" %>
	    </div> <!-- /.box -->
	    
	    <div class="box boxLine">
	      <ul>
	        <li><a href="">TODO Vytisknout článek</a></li>
	        <li><a href="">TODO Poslat e-mailem</a></li>
	
	        <li><a href="">TODO Sdílet</a></li>
	        <li>TODO Velikost textu <a href="">+</a> <a href="">–</a></li>
	      </ul>
	    </div> <!-- /.box -->
	    
	    <div class="box">
	      <h3 class="h line">TODO Souvisejici</h3>
	      <div class="in">
	        <div class="item itemSmall noImg">
	          <div class="self">
				<p class="info">TODO Film Analýza</p>
				<h3 class="head"><a href="">TODO Po volbách musí daně nahoru. Jinak končí sametové časy</a></h3>
	          </div> <!-- /.self -->
	        </div> <!-- /.item -->
	      </div> <!-- /.in -->
	
	    </div> <!-- /.box -->
	  </div> <!-- /.col1 -->
	  
	  <div class="col2">
	    <div class="text">
	      <p><%= @article.text %></p>
	    </div> <!-- /.text -->
	    
	    <div class="box boxComments">
	      <%= render :partial=>"web/articles/discuss" %>
	    </div> <!-- /.box -->
	    
	  </div> <!-- /.col2 -->
	
	</div> <!-- /.cols -->
</div> <!-- /.box -->
