= f.label :headline, 'Headline:'
= f.text_field :headline, :class => 'inp'
%br
%br
%label{ :for => "headliner_box_publish_date" } Datum publikace:
%input{ :id => "headliner_box_publish_date", :name => "headliner_box[publish_date]", :size => "30", :type => "text", :value => www_date(@object.publish_date)}
%br
%br
= f.label :perex, 'Perex:'
= f.text_area :perex
%br
%br
= f.label :picture_title, 'Popis obrazku:'
= f.text_field :picture_title, :class => 'inp'
%br
%br
%p Zaradte headliner do rubrik:
= render(:partial => "shared/admin/section_top_checkboxes", :object => @object)
%hr
%strong Hlavni clanek
%br
= link_to "+ Vyber clanek", "#?width=700&height=500", :class => 'thickbox_main', :onclick => 'getRelationship(\'main\'); return false'
#related_main
%br
- if(!@object.new_record?)
  %strong Prilozeny clanek:
  %br
  = @object.article.name rescue nil
%br
%br
%hr
%strong Souvisejici clanky
%br
= link_to "+ Vyber clanky", "#?width=700&height=500", :class => 'thickbox_sidebar', :onclick => 'getRelationship(\'sidebar\'); return false'
#related_sidebar
%br
%strong Prilozene clanky
- @object.headliner_articles.each do |ha|
  %div
    = ha.article.name
    = link_to "X", '#', :id => "headlinerarticles_#{@object.id}_#{ha.id}", :onclick => 'removeHeadlinerArticle( $(this)); return false'
%br
%br
%hr
= link_to "+ Pridej temata", "#?width=700&height=500", :class => 'thickbox_themes', :onclick => 'getRelationthemeship(\'themes\'); return false'
#related_themes
%br
%br
%strong Vybrana temata
- @object.headliner_themes.each do |ts|
  %div
    = ts.theme.name
    = link_to "X", '#', :id => "headlinerarticles_#{@object.id}_#{ts.id}", :onclick => 'removeTagSelection( $(this)); return false'
%hr
%br
%br