%table
  %tr
    %th.l1{ :width => '35%' }= link_to 'nazev', '#'
    -#%th{ :width => '10%'    }= link_to 'subfolders', '#'
    -#%th{ :width => '10%'    }= link_to 'files', '#'
    -#%th{ :width => '5%'     }= link_to 'total size', '#'           
    -#%th{ :width => '10%'    }= link_to 'create date', '#'
    %th{ :width => '10%'    }= link_to 'datum', '#'
    %th{ :width => '20%'    }= link_to 'autor', '#'
    %th{ :width => '20%'    }= link_to 'popis', '#'
    %th{ :width => '15%'    }
  = render(:partial => 'leafs', :object => albums)
    
  