= f.label :name, 'Název:'
= f.text_field :name, :class => 'inp'
%br
%br
= f.label :description, 'Popis:'
%br
= f.text_area :description, :class => 'smallText'
%br
%br
= f.label :parent_id, 'Zařaďte adresář do struktury:'
= f.select(:parent_id, nested_set_options(Album.all(:conditions => "album_type='#{params[:type]}'", :order => "created_at ASC"), @album) {|i| "#{'-' * i.level} #{i.name}" }, { :prompt => "------------" } )
%br
%hr
%br
= f.hidden_field(:album_type, :value => params[:type])
-#= hidden_field(:type, params[:type])
#photos
  -#= render :partial => 'picture', :collection => @album.pictures

-#= link_to_function "Přidat obrázek" do |page|
  -#- page.insert_html :bottom, :photos, :partial => 'picture', :object => Picture.new
