- if(image.pictures.size > 0)
  - if(@str == nil)
    - @pref = "#{params[:type]}-#{@tree}-1"
  - else
    - @pref = @str
  %tr{ :id => "#{@pref}_pict"}
    %td.listItem{:class => "l#{image.level + 1}", :colspan => '5'}
      - image.pictures.each do |picture|
        .listImageBox
          -#= link_to image_tag(picture.data.url(:small), :id => "picture_#{picture.id}"), ''
          %div{ :id => "picture_#{picture.id}"}= image_tag(picture.data.url(:small))
          %br
          = picture.name
          %br
          = number_to_human_size(picture.data_file_size)
          ,
          = picture.data_content_type
          %br
          = link_to 'editovat', '#', {:id => 'editPict', :class => "#{picture.id}"}
          |
          -#= link_to 'smazat', object_url(picture), :confirm => 'Jste si jistí?', :method => :delete
          = link_to 'smazat', {:controller => 'pictures', :action => 'destroy', :id => picture}, :confirm => 'Jste si jistí?', :method => :delete    
      .clearer &nbsp;