<h3 style="font-size: 1.2em;"><%= link_to "Jména přispěvatelů", fond_contribution_names_path %></h3>
<h3 style="font-size: 1.2em;"><%= link_to "Často kladené otázky", fond_faq_path %></h3>
<h3 style="font-size: 1.2em;"><%= link_to "Články o NF NDR", "#" %></h3>
<h3 style="font-size: 1.2em;"><%= link_to "Měsíční zprávy", "#" %></h3>
<!--
<h3 style="font-size: 1.2em;"><%= link_to "Výroční zprávy", "#" %></h3>
<h3 style="font-size: 1.2em;"><%= link_to "Videa", "#" %></h3>
-->
