<br />
  <div class="clearfix">
    <div class="lab"><label>id platby: </label></div>
    <div class="con"> <%= f.text_field :id, :disabled => :true %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Částka: </label></div>
    <div class="con"> <%= select :select_amount, :select_amount, options_for_select({"60 Kč" => 60, "100 Kč" => 100, "300 Kč" => 300, "600 Kč" => 600, "1000 Kč" => 1000, "3000 Kč" => 3000, "6000 Kč" => 6000, "10 000 Kč" => 10000, "30 000 Kč" => 30000}), { :prompt => 'Vyberte částku' }, :onchange => 'this.form.really_fonds_amount.value = this.value;' %> nebo napiště jinou:</div>
  </div>
  <div class="clearfix">
    <div class="lab"><label> </label></div>
    <div class="con"> <%= f.text_field :amount %> Kč</div>
  </div>

	<div class="clearfix">
	    <div class="lab">
	      <label for="newuser_twitter">Datum platby:</label>
	    </div> <!-- /.lab -->
	    <div class="con">
				<%= calendar({:text_field => "date",
				              :value => @date,
				              :update_div => nil,
				              :class_name => "cal"}) -%>
	    </div> <!-- /.con -->
	</div> <!-- /.clearfix -->

  <%= f.hidden_field :fond_id, :value => @user.id %>
  <div class="clearfix">
    <div class="lab"><label>&nbsp;</label></div>
    <div class="con"> <%= f.submit "Odeslat" %></div>
  </div>

