<%= link_to 'Všichni uživatelé', authadmin_path %> |
<%= link_to 'Hromadné emaily', mailings_path %> |
<%= link_to 'Nadační fond', fond_list_path %> 

<br />
<br />

<h2>Detaily přispěvatele</h2>

<div class="boxRegistration formBox">
  <br />
  <div class="clearfix">
    <% unless @user.title.blank? %>
      <div class="lab"><label>Titul:</label></div>
      <div class="con"><%= @user.title %></div>
    <% end %>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Jméno:</label></div>
    <div class="con"><%= @user.firstname %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Příjmení: </label></div>
    <div class="con"><%= @user.lastname %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label> Email: </label></div>
    <div class="con"><label> <%= @user.email %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Ulice: </label></div>
    <div class="con"><%= @user.street %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label> Číslo p.: </label></div>
    <div class="con"> <%= @user.number %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Obec: </label></div>
    <div class="con"><%= @user.city%></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>PSC: </label></div>
    <div class="con"> <%= @user.psc %></div>
  </div>
  <% unless @user.profession.blank? %>
  <div class="clearfix">
    <div class="lab"><label>Povolání: </label></div>
    <div class="con"><%= @user.profession %></div>
  </div>
  <% end %>
  <% unless @user.phone.blank? %>
  <div class="clearfix">
    <div class="lab"><label> Tel.: </label></div>
    <div class="con"><%= @user.phone %></div>
  </div>
  <% end %>
  <div class="clearfix">
    <div class="lab"><label>Variabilní symbol: </label></div>
    <div class="con"> <%= @user.variable_number %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Uvedená částka ve formuláři: </label></div>
    <div class="con"> <%= @user.amount %>Kč</div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Zveřejnit jméno přispěvatele: </label></div>
    <div class="con"> <%= @user.publish_name ? "Ano" : "Ne" %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Zřídit přístup do diskusí: </label></div>
    <div class="con"> <%= @user.setup_access ? "Ano" : "Ne" %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Souhlas se zasíláním emailů měsíčně: </label></div>
    <div class="con"> <%= @user.email_news ? "Ano" : "Ne" %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Souhlas se zasíláním materiálů na poštovní adresu 3x do roka: </label></div>
    <div class="con"> <%= @user.address_news ? "Ano" : "Ne" %></div>
    </div>
  <div class="clearfix">
    <div class="lab"><label>Potvrzení pro daňové přiznání: </label></div>
    <div class="con"> <%= @user.tax_return ? "Ano" : "Ne" %></div>
  </div>
  <div class="clearfix">
    <div class="lab"><label>Vytvořeno: </label></div>
    <div class="con"> <%= l(@user.created_at,:format => :long) %></div>
  </div>

  <br />
</div>

<h2>Zadat novou platbu</h2>

<%= error_messages_for2 "really_fonds" %>
<% form_for :really_fonds, @really_fonds, :url => fond_detail_path(@user.id), :html => { :class => "boxRegistration formBox" } do |f| %>

  <%= render :partial => "really_fond", :locals => {:f => f} %>

<% end %>

<br />

<h2>Provedené platby uživatelem</h2>

<br />
Pro zobrazení všech plateb všech uživatelů klikněte <%= link_to "zde", fond_really_list_url %>.
<br /><br />

<% total = 0 %>
<table border="1" style="width:460px;">
	<tr>
		<td>id</td>
    <td>Částka</td>
    <td>Datum platby</td>
    <td>Smazat</td>
    <td>Editovat</td>
    <td>Poslední aktualizace</td>
  </tr>
  <% @my_really_fonds.each do |rf| %>
  <% total += rf.amount.to_i %>
  <tr>
    <td><%= rf.id %></td>
    <td><%= rf.amount %>Kč</td>
    <td><%= l(rf.date,:format => :medium) unless rf.date.blank? %></td>
    <td><%= link_to "Smazat", delete_really_fond_path(rf.id), :confirm => "Opravdu smazat platbu s id #{rf.id}?" %></td>
    <td><%= link_to "Editovat", edit_really_fond_path(rf.id) %></td>
    <td><%= rf.created_at.strftime("%d.%m.%Y %H:%M:%S") %></td>
  </tr>
  <% end %>

</table>

<br />
<%= "Uživatel zaslal celkem <b>#{total.to_s}Kč.</b>" %>
