<%= link_to 'Všichni uživatelé', authadmin_path %> |
<%= link_to 'Hromadné emaily', mailings_path %> 
<br />
<br />

<% form_for :search_fonds, @search_fonds, :url => fond_list_url do |f| %>
  <h2>Filtr</h2><br />

Email:<br />
<%= f.text_field :email, :value => @email %><br />

Variabilní symbol:<br />
<%= f.text_field :variable_number, :value => @variable_number %><br />

Vyberte rok registrace uživatele:<br />

<%= select_year @year.to_i, { :start_year => 2010, :end_year => 2014, :prefix => :search_fonds, :prompt => "Vyberte rok" } %><br />

Vybertě měsíc registrace uživatele:<br />

<%= select_month @month.to_i, { :use_month_numbers => :true, :prefix => :search_fonds, :prompt => "Vyberte měsíc" } %><br />

<br />

<%= f.submit "Vyhledat" %>

<% end %>

<br />

<%= link_to "Vynulovat filtr", fond_list_url %>

<br /><br />



<h2>Zde jsou zobrazeni uživatelé, kteří pouze vyplnili formulář nadačního fondu</h2>

<br /><br />
Pro zobrazení skutečných plateb vyberte nějakého uživatele nebo pro zobrazení všech plateb klikněte <%= link_to "zde", fond_really_list_path %>.
<br /><br />

<p style="text-align: center;">
<%= will_paginate @fonds, :inner_window=> 3, :outer_window=> 1,:previous_label   => '&laquo; ' +  'Předchozí',
          :next_label   => 'Další' +  ' &raquo;'%>
</p>

<table border="1" style="width:960px;">
	<tr>
		<td>id</td>
		<td>Email</td>
		<td>Jméno</td>
		<td>Příjmení</td>
    <!--		<td>Adresa</td> -->
    <td>Částka</td>
    <td>Variabilní symbol</td>
    <td>Zveřejnit jméno</td>
    <td>Zřídit přístup</td>
    <td>Email news</td>
    <td>Address news</td>
    <td>Daňové přiznání</td>
    <td>Vytvořeno</td>
    <td>Poslední platba</td>
    <td>Morálka</td>
    <td>Neaktivní</td>
	</tr>
<%= render :partial => "fond", :collection => @fonds %>
</table>

<p style="text-align: center;">
<%= will_paginate @fonds, :inner_window=> 3, :outer_window=> 1,:previous_label   => '&laquo; ' +  'Předchozí',
  :next_label   => 'Další' +  ' &raquo;'%>
</p>

<p>
<br />
<b>Morálka (legenda):</b>
<br /><br />
Ti, kteří ještě neprovedli ani jednu platbu:<br />
(počítá se od datumu registrace)<br /><br />
- <font color='green'><b>méně jak měsíc - OK</b></font><br />
- <font color='blue'><b>Více jak měsíc bez odezvy</b></font><br />
- <font color='red'><b>Více jak dva měsíce bez odezvy</b></font><br />
- <b>"Nenastartovaný"</b><br />

<br /><br />
Ti, kteří provedli alespoň jednu platbu:<br />
(počítá se od datumu poslední platby)<br /><br />
- <font color='green'><b>méně jak dva měsíce - OK</b></font><br />
- <font color='orange'><b>Více jak dva měsíce bez platby</b></font><br />
- <font color='orange'><b>Více jak tři měsíce bez platby</b></font><br />
- <font color='red'><b>Více jak čtyři měsíce bez platby</b></font><br />
- <b>Bývalý přispěvatel</b>
</p>
