<div style="text-align:left;padding:60px;">
  <table width="680" cellspacing="0" style='margin: 0px auto;'>
  <tr>
    <td width="90"  style="border-top: 5px solid #000;">
      <img src="http://www.denikreferendum.cz/images/logo-newsletter.gif" width="90" height="114" alt="Deník Referendum" />
    </td>
    <td valign="top" style="border-top: 5px solid #000;padding-left:20px;">
      <font face="Arial" size="12"><b>Deník Referendum potřebuje vaší pomoc</font>
    </td>
  </tr>
</table>
<table width="680" cellspacing="0" style='margin: 0px auto;'>
  <tr>
    <td valign="top" style="border-top: 1px solid #000; padding: 5px 0 2em 0;">
      <font face="Arial" size="3">

  <p>Vážení čtenáři,
  <br /><br />
  od počátku dubna budeme vycházet v rozsahu, který bude přímo odvozen z výše Vašich příspěvků. 
  <br /><br />
  Sbírka formou trvalých příkazů míří k cíli 300.000 Kč měsíčně, což je hranice naší nezávislosti v současné podobě. Po prvním měsíci jsme se dopracovali k deseti procentům, za což patří všem, kdo se na tom podílejí, dík.
  <br /><br />
  Máme už zajištěny i jiné dílčí zdroje, a sama holá existence Deníku Referendum ohrožena není. Každý dílčí příspěvek ale rozhoduje o tom, v jakém rozsahu budeme pokračovat. 
  <br /><br />
  Přitom kdyby tisíc čtenářů přispívalo našemu nadačnímu fondu 10 Kč denně, tedy 300 Kč měsíčně formou trvalého příkazu, Deník Referendum by byl schopen uchovat svou dnešní podobu a dále zvyšovat svou kvalitu, spět k tomu, aby se stal skutečnou vlivnou alternativou velkých médií.
  <br /><br />
  Smysl má tudíž jakýkoli příspěvek. Prosíme přidejte se k těm, kteří už přispívají, i Vy.
  <br /><br />
  </p>
  <p>
  <span style="float:right;display:inline;text-align:right;">
    Redakce DR
  </span>
  </p>
  <p>
  <br />
  <br />
    <span style="float:left;display:inline;text-align:left;">
      <b><%= link_to "Přispět hned", "#", :onclick => "javascript:window.top.location.href = '/nadacni-fond'", :style => "color:black;text-decoration:underline;"%></b>
    </span>
    <span style="float:right;display:inline;text-align:right;">
      <b><%= link_to "Pokračovat na stránky", "#", :onclick => "javascript:TINY.box.hide()", :style => "color:black;text-decoration:underline;"%></b>
    </span>
  </p>
  <p>
  <br /><br /><br />
    Proč podporuji Nadační fond Nezávislosti Deníku Referendum?
    <br /><br />
    </p>
    <div id="podpora0" <%= 'class="hidden"' unless @my_rand == 0%>>
      <p><i>&bdquo;Globalizace přinesla postdemokracii, v níž svobodný démos, který se formuje v nezávislém veřejném prostoru, je nahrazen sítí skupin,  lobujících za zájmy těch, kdo si je zaplatí. Deník Referendum je  ostrov odporu vůči tomuto vývoji. Podporuji Nadační fond Nezávislosti DR, protože věřím, že je to cesta jak nezávislý veřejný prostor obnovit. Nová forma paralelní polis.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Václav Bělohradský, filosof</b><br /></p>
      </span>
    </div>
    <div id="podpora1" <%= 'class="hidden"' unless @my_rand == 1%>>
      <p><i>&bdquo;Žijeme v zemi, kde většina médií soukromých i veřejnoprávních nekriticky podporuje asociální politiku vedenou v zájmu úzké majetkové elity. Proto je důležité podpořit vše, co ruší monopol české pomocné elity na šíření informací.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Jan Keller, sociolog</b><br /></p>
      </span>
    </div>
    <div id="podpora2" <%= 'class="hidden"' unless @my_rand == 2%>>
      <p><i>&bdquo;Nejsem čtenář elektroniky, přesto fond Nezávislosti deníku Referendum nadšeně vítám a chci se na něm podílet pravidelnými příspěvky. Vím, že demokracie vyžaduje názorovou pluralitu a že
                společnost o deseti milionech čtenářů nepředstavuje dostatečnou základnu pro komerční zajištění takové plurality. Ve vyspělých menších společnostech – třeba na Islandu s necelým čtvrt milionem
                mluvčích islandštiny – vláda podporuje nezávislý tisk z veřejných zdrojů. Naše vlády se nás už delší dobu snaží nasměrovat do třetího světa. Podporu nezávislých periodik zrušily. Pokud nám na demokracii v naší zemi záleží, potřebujeme zajistit alespoň nízkonákladový elektronický „tisk“ občanskou svépomocí. U Madridu se už nebojuje, ale platí, „Kdo brání nezávislý tisk, brání Prahu!“ Chci se na tom podílet.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Erazim Kohák, filosof</b><br /></p>
      </span>
    </div>
    <div id="podpora3" <%= 'class="hidden"' unless @my_rand == 3%>>
      <p><i>&bdquo;Nezávislost médií je v současnosti jednou z nejvzácnějších hodnot. Nevzniká jen z individuálního odhodlání novinářek a novinářů, ale především je výsledkem finančních a institucionálních podmínek, ve kterých se noviny každodenně utvářejí. Vzniká z týmové různosti a mnohačetného propojení se společností. Tuhle hodnotu má smysl podpořit. Přála bych Deníku Referendum (a české společnosti), aby se stal majákem originálního zpravodajství a vytříbené kritické analýzy, jakým je v anglofonním prostředí komunitní médium Democracy now!&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Tereza Stöckelová, socioložka</b><br /></p>
      </span>
    </div>
    <div id="podpora4" <%= 'class="hidden"' unless @my_rand == 4%>>
      <p><i>&bdquo;Deník Referendum je důležitou součástí nezávislého a svobodného prostoru u nás. Aby byl nezávislý, potřebuje fond, který jej zajistí. Proto jeho vznik podporuji.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Táňa Fischerová</b><br /></p>
      </span>
    </div>
    <div id="podpora5" <%= 'class="hidden"' unless @my_rand == 5%>>
      <p><i>&bdquo;Nadační fond Deníku Referendum podporuji, protože Deník Referendum považuji za jeden z mála ostrůvků nekonformního myšlení u nás, a tudíž i intelektuální svobody. Je to periodikum, které se dívá na většinu problémů současné společnosti z pozic u nás neobvyklých, čímž vytváří důležitou alternativu k většině českých médií, jež dávají především prostor nenápaditým myšlenkovým šablonám české pravice.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Jiří Pehe</b><br /></p>
      </span>
    </div>
    <div id="podpora6" <%= 'class="hidden"' unless @my_rand == 6 %>>
      <p><i>&bdquo;Deník Referendum jsou jediné noviny, které nezjednodušují pohled na minulost a nikdy se v nich nelze setkat s pohrdáním či předsudky vůči sociálně slabým.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Anna Šabatová</b><br /></p>
      </span>
    </div>
    <div id="podpora7" <%= 'class="hidden"' unless @my_rand == 7 %>>
      <p><i>&bdquo;Proč jsem se rozhodl podpořit Deník Referendum? Je to jednoduché: pravidelně jej čtu a vidím jak je dobrý. Tým kolem něj dokázal takřka nemožné. Referendum je v naší poněkud depresivní politické krajině alespoň malou štěrbinou v tupém příkrovu medií hlavního proudu. Když jej otevřu, připadám si jako postava na dřevorytu z 15 století, která prorazila hlavou zemskou sféru a dívá se na hvězdy. Bez poctivé žurnalistiky a veřejné diskuse nenajdeme humanistickou alternativu budoucnosti. Pro mě je Deník Referendum součást společné expedice, která stojí za to.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Vladimír Špidla</b><br /></p>
      </span>
    </div>
    <div id="podpora8" <%= 'class="hidden"' unless @my_rand == 8 %>>
      <p><i>&bdquo;Pokládám za nutné udržet Deník Referendum jako jedinečný a vzácný prostor pro vyslovování postojů, pro které v médiích hlavního proudu nebí místo. V tomto smyslu je to prostor reálné svobody. Deník si za rok své existence našel čtenáře, které nemůže zklamat, a stal se respektovanou alternativou k jiným elektronickým a tištěným médiím. Měli bychom ho platbou podle svých možností podpořit.&rdquo;</i>
      </p>
      <span style="float:right;display:inline;text-align:right;">
        <p><br /><b>Ivan Štampach</b><br /></p>
      </span>
    </div>

        </font>
			</td>
		</tr>
  </table>
</div>
