<%= link_to 'Všichni uživatelé', authadmin_path %> |
<%= link_to 'Hromadné emaily', mailings_path %> |
<%= link_to 'Nadační fond', fond_list_path %>

<br />
<br />

<% form_for :search_fonds, @search_fonds, :url => fond_really_list_url do |f| %>
  <h2>Filtr</h2><br />

Email:<br />
<%= f.text_field :email, :value => @email %><br />

Variabilní symbol:<br />
<%= f.text_field :variable_number, :value => @variable_number %><br />

Vyberte rok platby:<br />

<%= select_year @year.to_i, { :start_year => 2010, :end_year => 2014, :prefix => :search_fonds, :prompt => "Vyberte rok" } %><br />

Vybertě měsíc platby:<br />

<%= select_month @month.to_i, { :use_month_numbers => :true, :prefix => :search_fonds, :prompt => "Vyberte měsíc" } %><br />

<br />

<%= f.submit "Vyhledat" %>

<% end %>

<br />

<% form_for :search_fonds, @search_fonds, :url => fond_really_list_url do |f| %>
  <%= f.hidden_field :email, :value => "" %>
  <%= f.hidden_field :variable_number, :value => "" %>
  <%= hidden_field_tag :year, :value => "" %>
  <%= hidden_field_tag :month, :value => "" %>
  <%= f.submit "Vynulovat filtr" %>
<% end %>

<br />

<h2>Zde jsou zobrazeny všechny uskutečněné platby</h2>

<br /><br />

Pro zobrazení vyplněných formulářů klikněte <%= link_to "zde", fond_list_path %>.
<br /><br />

<p style="text-align: center;">
<%= will_paginate @fonds, :inner_window=> 3, :outer_window=> 1,:previous_label   => '&laquo; ' +  'Předchozí',
          :next_label   => 'Další' +  ' &raquo;'%>
</p>

<table border="1" style="width:960px;">
	<tr>
		<td>id</td>
		<td>Email</td>
		<td>Jméno</td>
		<td>Příjmení</td>
    <td>Číslo účtu</td>
		<td>Variabilní symbol</td>
    <td>Částka</td>
    <td>Trvalým příkazem</td>
    <td>Datum platby</td>
    <td>Smazat</td>
    <td>Editovat</td>
    <td>Poslední aktualizace</td>
	</tr>
  <%= render :partial => "really_fond_list", :collection => @fonds, :as => :fond %>
</table>

<p style="text-align: center;">
<%= will_paginate @fonds, :inner_window=> 3, :outer_window=> 1,:previous_label   => '&laquo; ' +  'Předchozí',
 	          :next_label   => 'Další' +  ' &raquo;'%>
</p>
