<script type="text/javascript">
    function unhide(divID) {
      var item = document.getElementById(divID);
        if (item) {
          item.className=(item.className=='hidden')?'unhidden':'hidden';
    }
  }
</script>

<div class="box boxDetail">
   <h2 class="head">Nadační fond Deníku Referendum</h2>
   <p class="perex">Deník Referendum je v složité hospodářské situaci a nemůže uchovat svou současnou podobu bez podpory svých čtenářů. Na jejím rozsahu závisí, jak bude Deník Referendum vypadat. Proto vznikl Nadační fond Nezávislosti Deníku Referendum.</p>

   <div class="cols detailImage line">
     <div class="col2 mainImage">
       <%= image_tag "fond.jpg" %>
       <p class="info">Co by za to clovek dal, kdyby tu byly noviny, které by se daly císt...</p>
     </div> <!-- /.col2 -->
   </div> <!-- /.cols -->

   <div class="cols detailContent">
     <div class="col1">
       <div class="box boxLine">
          <%= render :partial=>"web/articles/left_box" %>
       </div> <!-- /.box -->
     </div> <!-- /.col1 -->

     <div class="col2">
       <div class="text">
         <p>
         Nadační fond Nezávislosti Deníku Referendum jsme ustavili s cílem shromažďovat pravidelné měsíční příspěvky od přátel Deníku Referendum. Jedná se o cosi jako dobrovolné měsíční předplatné. Základní myšlenka je taková, že pokud by tisíc lidí posílalo tři sta korun měsíčně, noviny by bez ohledu na další příjmy byly zachovány ve své dnešní podobě. Cokoli navíc by umožnilo další rozvoj.
         </p>
         <p>
         V mnoha západních zemích je zajišťování provozu médií veřejné služby touto cestou běžné. Záleží-li Vám na naší existenci a na naší kvalitě a můžete-li si to dovolit, prosím zřiďte svůj trvalý příkaz.
         </p>
        <p>
        <h2>Představujeme Nadační fond Nezávislosti Deníku Referendum</h2>
        <br />
        </p>

        <p>
        <span style="font-weight:bold;">K čemu slouží?</span><br />
          <%= link_to "K uchování a rozvoji Deníku Referendum.", "javascript:unhide('otazka1');" %>
          <div id="otazka1" class="hidden">Nadační fond Nezávislosti Deníku Referendum si klade za cíl umožnit našim novinám dospět k nezávislosti na ekonomických i politických vlivech. Nadační fond má zaručit pokračování Deníku Referendum ve stávajícím rozsahu i jeho případný další rozvoj.
            <br /><br />
          </div>
        </p>

        <p>
        <span style="font-weight:bold;">Co je cílem?</span><br />
          <%= link_to "Cílem 1. etapy je dospět k částce 300.000 Kč měsíčně.", "javascript:unhide('otazka2'); "%>
          <div id="otazka2" class="hidden">
            Vydávání Deníku Referendum v prvním roce jeho existence stálo zhruba 300.000 korun měsíčně. Šetří se, kde se dá, ale nižší měsíční výdaje by na kvalitě novin nutně byly znát. Cílem první etapy existence fondu je tedy dopracovat se každý měsíc právě k této částce. Ačkoli DR má i jiné příjmy, bez podpory nadačního fondu by nebyl schopen udržet stávající formát ani ho případně dále rozvíjet.<br /><br />
          </div>
        </p>

        <p>
        <span style="font-weight:bold;">Jak cíle dosáhnout?</span><br />
          <%= link_to "Měsíčně poukazované trvalé příkazy příznivců.", "javascript:unhide('otazka3');" %>
          <div id="otazka3" class="hidden">
            Ačkoli fond vděčně akceptuje i jednorázové dary, 300.000 Kč měsíčně chce shromáždit z trvalých měsíčních příkazů svých příznivců. Částku 300.000 si lze představit, jako by 
            
            <br /><br />
            <ul>
              <li>3000 lidí posílalo každý měsíc 100 Kč nebo</li>
              <li>1000 lidí posílalo každý měsíc 300 Kč nebo</li>
              <li>300 lidí posílalo každý měsíc 1000 Kč nebo</li>
              <li>100 lidí posílalo každý měsíc 3000 Kč nebo</li>
              <li>30 lidí posílalo každý měsíc 10.000 Kč nebo</li>
              <li>10 lidí posílalo každý měsíc 30.000 Kč.</li>
            </ul>
            <br />
            To je také šest základních možných příspěvků, které fond nabízí.<br /><br />
          </div>
        </p>
        
        <p>
        <span style="font-weight:bold;">Kdo ho spravuje?</span><br />
          <%= link_to "Šestičlenná správní rada a revizor.", "javascript:unhide('otazka4');" %>
          <div id="otazka4" class="hidden">
            Ve správní radě nyní působí:<br />
            <br />
            <%= link_to "Jan Černý", "javascript:unhide('jan_cerny');" %><br />
            <div id="jan_cerny" class="hidden">
              <br />
              <p><i>&bdquo;Deník Referendum vytváří mediální prostor pro artikulaci levicových společensko-kritických myšlenek a pro kultivovanou diskusi nad nimi. Podporovat Deník Referendum znamená podporovat mediální existenci a rozvoj ideového proudu, který vzdoruje jednostranně pravicové orientaci většiny českých médií.&rdquo;</i>
              </p>
            </div>
            <%= link_to "Táňa Fischerová", "javascript:unhide('tana_fisherova');" %><br />
            <div id="tana_fisherova" class="hidden">
              <br />
              <p><i>&bdquo;Deník Referendum je důležitou součástí nezávislého a svobodného prostoru u nás. Aby byl nezávislý, potřebuje fond, který jej zajistí. Proto jeho vznik podporuji. &rdquo;</i>
              </p>
            </div>
            <%= link_to "Jiří Pehe", "javascript:unhide('jiri_pehe');" %><br />
            <div id="jiri_pehe" class="hidden">
              <br />
              <p><i>&bdquo;Nadační fond Deníku Referendum podporuji, protože Deník Referendum považuji za jeden z mála ostrůvků nekonformního myšlení u nás, a tudíž i intelektuální svobody. Je to periodikum, které se dívá na většinu problémů současné společnosti z pozic u nás neobvyklých, čímž vytváří důležitou alternativu k většině českých médií, jež dávají především prostor nenápaditým myšlenkovým šablonám české pravice. &rdquo;</i>
              </p>
            </div>
            <%= link_to "Anna Šabatová", "javascript:unhide('anna_sabatova');" %><br />
            <div id="anna_sabatova" class="hidden">
              <br />
              <p><i>&bdquo;Deník Referendum jsou jediné noviny, u nichž je spoleh na to, že nekomolí pohled na minulost a nikdy se v nich nelze setkat s pohrdáním či předsudky vůči sociálně slabým. Jsem ráda, že jim mohu pomáhat. &rdquo;</i>
              </p>
            </div>
            <%= link_to "Vladimír Špidla", "javascript:unhide('vladimir_spidla');" %><br />
            <div id="vladimir_spidla" class="hidden">
              <br />
              <p><i>&bdquo;Proč jsem se rozhodl podpořit Deník Referendum? Je to jednoduché: pravidelně jej čtu a vidím jak je dobrý. Tým kolem něj dokázal takřka nemožné. Referendum je v naší poněkud depresivní politické krajině alespoň malou štěrbinou v tupém příkrovu medií hlavního proudu. Když jej otevřu, připadám si jako postava na dřevorytu z 15 století, která prorazila hlavou zemskou sféru a dívá se na hvězdy. Bez poctivé žurnalistiky a veřejné diskuse nenajdeme humanistickou alternativu budoucnosti. Pro mě je Deník Referendum součást společné expedice, která stojí za to. &rdquo;</i>
              </p>
            </div>
            <%= link_to "Ivan Štampach", "javascript:unhide('ivan_stampach');" %><br />
            <div id="ivan_stampach" class="hidden">
              <br />
              <p><i>&bdquo;Pokládám za nutné udržet Deník Referendum jako jedinečný a vzácný prostor pro vyslovování postojů, pro které v médiích hlavního proudu nebí místo. V tomto smyslu je to prostor reálné svobody. Deník si za rok své existence našel čtenáře, které nemůže zklamat, a stal se respektovanou alternativou k jiným elektronickým a tištěným médiím. Měli bychom ho platbou podle svých možností podpořit. &rdquo;</i>
              </p>
            </div>
            <br />
            Revizorem fondu je <%= link_to "Tomáš Tožička", "javascript:unhide('tomas_tozicka');" %>.<br />
            <div id="tomas_tozicka" class="hidden">
              <br />
              <p><i>&bdquo;Média jsou dnes jedním z příkladů toho, jak ekonomická moc korporací ohrožuje demokracii. Deník Referendum potřebujeme jako prostor, kde se může svobodně diskutovat bez ohledu na to, kolik má za sebou který argument peněz. Nadační fond je pak příkladem svépomocné akce jak síle korporací čelit. Jako revizor ho budu podporovat i tím, že se vynasnažím dohlížet, aby se prostředky fondu využívaly vždy tím nejúčelnějším způsobem. &rdquo;</i>
              </p>
            </div>
            <br />
          </div>
        </p>

        
        <p>
          <span id="link_otazka5" style="font-weight:bold;">Kdo ho podporuje?</span><br />
          <%= link_to "Mimo jiné:", "javascript:unhide('otazka5');" %>
          <div id="otazka5" class="hidden">
            <%= link_to "Patrik Eichler, historik a novinář", "javascript:unhide('podpora1');" %><br />
            <div id="podpora1" class="hidden">
              <br />
              <p><i>&bdquo;Deník Referendum slouží jako médium: Je prostorem pro debatu uvnitř demokratické levice. Umožňuje zpřesňovat teze, se kterými pracují lidé v celém prostředí. Jako takový je jedním z
                mála médií u nás.&rdquo;</i>
              </p>
            </div>
            <%= link_to "Vít Janeček, filmový dokumentarista", "javascript:unhide('podpora2');" %><br />
            <div id="podpora2" class="hidden">
              <br />
              <p><i>&bdquo;Čtu Deník Referendum téměř pravidelně - považuji jej za jednu z možností, jak by mohl vypadat mainstreamový tisk ve společnosti,  která má kontakt sama se sebou a tedy s realitou. Proto jej rád 
                podpořím, věřím, že k podobnému rozhodnutí dospějí i mnozí  další.&rdquo;</i>
              </p>
            </div>
            <%= link_to "Jan Keller, sociolog", "javascript:unhide('podpora3');" %><br />
            <div id="podpora3" class="hidden">
              <br />
              <p><i>&bdquo;Žijeme v zemi, kde většina médií soukromých i veřejnoprávních nekriticky podporuje asociální politiku vedenou v zájmu úzké majetkové elity. Proto je důležité podpořit vše, co ruší monopol české pomocné elity na šíření informací. &rdquo;</i>
              </p>
            </div>
            <%= link_to "Erazim Kohák, filosof", "javascript:unhide('podpora4');" %><br />
            <div id="podpora4" class="hidden">
              <br />
              <p><i>&bdquo;Nejsem čtenář elektroniky, přesto fond Nezávislosti deníku Referendum nadšeně vítám a chci se na něm podílet pravidelnými příspěvky. Vím, že demokracie vyžaduje názorovou pluralitu a že
                společnost o deseti milionech čtenářů nepředstavuje dostatečnou základnu pro komerční zajištění takové plurality. Ve vyspělých menších společnostech – třeba na Islandu s necelým čtvrt milionem
                mluvčích islandštiny – vláda podporuje nezávislý tisk z veřejných zdrojů. Naše vlády se nás už delší dobu snaží nasměrovat do třetího světa. Podporu nezávislých periodik zrušily. Pokud nám na demokracii v naší zemi záleží, potřebujeme zajistit alespoň nízkonákladový elektronický „tisk“ občanskou svépomocí. U Madridu se už nebojuje, ale platí, „Kdo brání nezávislý tisk, brání Prahu!“ Chci se na tom podílet.&rdquo;</i>
              </p>
            </div>
            <%= link_to "Tereza Stöckelová, socioložka", "javascript:unhide('podpora5');" %><br />
            <div id="podpora5" class="hidden">
              <br />
              <p><i>&bdquo;Nezávislost médií je v současnosti jednou z nejvzácnějších hodnot. Nevzniká jen z individuálního odhodlání novinářek a novinářů, ale především je výsledkem finančních a institucionálních podmínek, ve kterých se noviny každodenně utvářejí. Vzniká z týmové různosti a mnohačetného propojení se společností. Tuhle hodnotu má smysl podpořit. Přála bych Deníku Referendum (a české společnosti), aby se stal majákem originálního zpravodajství a vytříbené kritické analýzy, jakým je v anglofonním prostředí komunitní médium Democracy now! &rdquo;</i>
              </p>
            </div>
            <%= link_to "Martin Škabraha, filosof", "javascript:unhide('podpora6');" %><br />
            <div id="podpora6" class="hidden">
              <br />
              <p><i>&bdquo;Podporuju Nadační fond DR, aby Saša Uhlová nemusela dělat švadlenu. Podporuji Nadační fond Deníku Referendum také proto, že boj za občanská práva, který je třeba v této zemi vést, se neobejde bez objektivních informací a kritických myšlenek. Mainstreamová média jsou ve svém ideologickém profilu významně ovlivněna politickými a ekonomickými zájmy establishmentu, na němž existenčně závisí. Podmínkou občanské nezávislosti je proto nutně i nezávislost finanční. &rdquo;</i>
              </p>
            </div>
            <%= link_to "Jaroslav Šabata, politolog", "javascript:unhide('podpora7');" %><br />
            <div id="podpora7" class="hidden">
              <br />
              <p><i>&bdquo;Jan Patočka je autorem slova o solidaritě otřesených. Jakub Patočka ji tímto projektem uskutečňuje. &rdquo;</i>
              </p>
            </div>
            <br />
          </div>
        </p>
        

        <p>
        <span style="font-weight:bold;">Co nabízí?</span><br />
          <%= link_to "Smysl fondu", "javascript:unhide('otazka6');" %>
          <div id="otazka6" class="hidden">
            Smyslem fondu je uchování a rozvoj existence Deníku Referendum a to je základní protislužbou za každý příspěvek. Samozřejmostí jsou ale rovněž možnosti dostat:<br /><br />
            <ul>
              <li>každý měsíc zprávu o stavu příjmů a jejich využití</li>
              <li>každoročně výroční zprávu, případně další propagační materiály</li>
              <li>potvrzení o daru pro daňové přiznání</li>
              <li>přístup do diskusí v Deníku Referendum</li>
              <li>samozřejmostí je možnost nezveřejňovat jméno přispěvatele, pokud si to nepřeje</li>
            </ul>
          </div>
          </p>

          <!--
          <p>
            <span style="font-weight:bold;">Kolik shromáždil?</span><br />
            <%= link_to "V minulém měsíci, a celkem.", "javascript:unhide('otazka7');" %>
            <div id="otazka7" class="hidden">
              Zde bude odkaz na poslední měsíční zprávu NF NDR.<br /><br />
            </div>
          </p>
          -->
          <p>
          <h2>Jak přispět?</h2>
          <br />
          <%= error_messages_for1 "fond" %>
          <% form_for :fond, @fond, :url => fond_show_path, :html => { :class => "formBox boxRegistration" } do |f| %>
          <fieldset>
            
          <span style="font-weight:bold;">Krok 1: Vyberte částku</span><br /><br />

          <table>
            <tr>
              <th>100 Kč</th><th>300 Kč</th><th>1000 Kč</th><th>3000 Kč</th><th>10000 Kč</th><th>30000 Kč</th>
            </tr>
            <tr>
              <td><%= f.radio_button :amount, "100", { :onchange => remote_function(:update => 'amount_table', :url => { :action => :amount_table }, :with =>"'amount=' + $('fond_amount_100').value", :loading=>"Element.show('amount_spinner')", :complete=>"Element.hide('amount_spinner')") }%></td>
              <td><%= f.radio_button :amount, "300", { :onchange => remote_function(:update => 'amount_table', :url => { :action => :amount_table }, :with =>"'amount=' + $('fond_amount_300').value", :loading=>"Element.show('amount_spinner')", :complete=>"Element.hide('amount_spinner')") } %></td>
              <td><%= f.radio_button :amount, "1000", { :onchange => remote_function(:update => 'amount_table', :url => { :action => :amount_table }, :with =>"'amount=' + $('fond_amount_1000').value", :loading=>"Element.show('amount_spinner')", :complete=>"Element.hide('amount_spinner')") } %></td>
              <td><%= f.radio_button :amount, "3000", { :onchange => remote_function(:update => 'amount_table', :url => { :action => :amount_table }, :with =>"'amount=' + $('fond_amount_3000').value", :loading=>"Element.show('amount_spinner')", :complete=>"Element.hide('amount_spinner')") } %></td>
              <td><%= f.radio_button :amount, "10000", { :onchange => remote_function(:update => 'amount_table', :url => { :action => :amount_table }, :with =>"'amount=' + $('fond_amount_10000').value", :loading=>"Element.show('amount_spinner')", :complete=>"Element.hide('amount_spinner')") } %></td>
              <td><%= f.radio_button :amount, "30000", { :onchange => remote_function(:update => 'amount_table', :url => { :action => :amount_table }, :with =>"'amount=' + $('fond_amount_30000').value", :loading=>"Element.show('amount_spinner')", :complete=>"Element.hide('amount_spinner')") } %></td>
            </tr>
          </table>
          
          <%= spinner_tag "amount" %>
          Chci přispět k nezávislosti Deníku Referendum<br /><br />

          <div id="amount_table">
            <%= render :partial => "amount_table", :locals => { :f => f } %>
          </div>
          <span style="font-weight:bold;">Krok 2: Identifikační údaje</span><br /><br />

          <div class="clearfix">
            <div class="lab">
              <%= f.label :firstname, "Jméno:" %>
            </div>
            <div class="con">
              <%= f.text_field :firstname %>
            </div>
          </div>
          <div class="clearfix">
            <div class="lab">
              <%= f.label :lastname, "Příjmení:" %>
            </div>
            <div class="con">
              <%= f.text_field :lastname %>
            </div>
          </div>
          <div class="clearfix">
            <div class="lab">
              <%= f.label :lastname, "Pohlaví:" %>
            </div>
            <div class="con">
              <%= f.select :sex, {"Muž" => false, "Žena" => true }, :include_blank => true, :selected => @fond.sex %>
            </div>
          </div>
          <div class="clearfix">
            <div class="lab">
              <%= f.label :email, "* Email:" %>
            </div>
            <div class="con">
              <%= f.text_field :email %>
            </div>
          </div>
          <div class="clearfix">
            <div class="lab">
              <%= f.label :street, "** Poštovní adresa:" %>
            </div>
            <div class="con">
            </div>
          </div>

          <div class="clearfix">
            <div class="lab">
              <%= f.label :street, "Ulice:" %>
            </div>
            <div class="con">
              <%= f.text_field :street %>
            </div>
          </div>
          <div class="clearfix">
            <div class="lab">
              <%= f.label :number, "Číslo p.:" %>
            </div>
            <div class="con">
              <%= f.text_field :number %>
            </div>
          </div>
          <div class="clearfix">
            <div class="lab">
              <%= f.label :city, "Obec:" %>
            </div>
            <div class="con">
              <%= f.text_field :city %>
            </div>
          </div>
          <div class="clearfix">
            <div class="lab">
              <%= f.label :psc, "Směrovací číslo:" %>
            </div>
            <div class="con">
              <%= f.text_field :psc %>
            </div>
          </div>
          <div class="clearfix">
            <div>
              <div>* Příjde Vám na něj variabilní symbol a jednou za měsíc zpráva o stavu nadačního fondu.</div>
              <div>** Nutná k zaslání výroční zprávy, potvrzení pro daňové přiznání.</div>
            </div>
          </div>


          <br /> <span style="font-weight:bold;">Nepovinné údaje</span><br /><br />

           <div class="clearfix">
            <div class="lab">
              <%= f.label :profession, "Povolání:" %>
            </div>
            <div class="con">
              <%= f.text_field :profession %>
            </div>
          </div>
           <div class="clearfix">
            <div class="lab">
              <%= f.label :phone, "Telefon:" %>
            </div>
            <div class="con">
              <%= f.text_field :phone %>
            </div>
          </div>
           <div class="clearfix">
            <div class="lab">
              <%= f.label :title, "Titul:" %>
            </div>
            <div class="con">
              <%= f.text_field :title %>
            </div>
          </div>
           <div class="clearfix">
            <div>
              <%= f.label :publish_name, "Pokud souhlasíte s tím, abychom zveřejnili Vaše jméno mezi přispěvateli fondu na jeho webových stránkách, zaškrtněte prosím tento čtvereček:" %>
            </div>
            <div>
              <%= f.check_box :publish_name %>
            </div>
          </div>
           <div class="clearfix">
            <div>
              <%= f.label :setup_access, "Pokud si přejete zřídit přístup do diskusí v Deníku Referendum, zaškrtněte prosím tento čtvereček, obratem se na Vás obrátí redakce:" %>
            </div>
            <div>
              <%= f.check_box :setup_access %>
            </div>
          </div>
           <div class="clearfix">
            <div>
              <%= f.label :email_news, "Pokud si přejete dostávat každý měsíc zprávu o množství vybraných prostředků a k čemu byly využity, zaškrtněte prosím tento čtvereček:" %>
            </div>
            <div>
              <%= f.check_box :email_news %>
            </div>
          </div>
           <div class="clearfix">
            <div>
              <%= f.label :address_news, "Pokud si přejete, abychom vám přibližně dvakrát až třikrát do roka zaslali na Vaši poštovní adresu propagační materiály a výroční zprávu, zaškrtněte prosíme tento čtvereček:" %>
            </div>
            <div>
              <%= f.check_box :address_news %>
            </div>
          </div>
           <div class="clearfix">
            <div>
              <%= f.label :tax_return, "Pokud si přejete dostat jednou ročně potvrzení pro daňové přiznání, zaškrtněte prosíme tento čtvereček:" %>
            </div>
            <div>
              <%= f.check_box :tax_return %>
            </div>
          </div>


          <br />
          <%= f.submit "Potvrdit" %>
        </fieldset>
          <% end %>
       </div> <!-- /.text -->
     </div> <!-- /.col2 -->

   </div> <!-- /.cols -->
 </div> <!-- /.box -->

