%tr{ :id => "textpage_#{text_page.id}" }
  %td{ :class => "listItem l1"}
    .cropLine= link_to text_page.title, '#', :title => text_page.title, :id => "edititem1_#{text_page.id}", :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td
    .cropLine= text_page.name
  %td= admin_date(text_page.updated_at)
  = render(:partial => 'shared/admin/edit_delete', :locals => { :obj => text_page, :del => 'TextPage' })