%table
  %tr
    %th{ :width => '20%', :class => 'l1' }= link_to 'nazev', '#'
    %th{ :width => '20%', :class => 'l1' }= link_to 'nadpis', '#'
    %th{ :width => '10%'     }= link_to 'datum', '#'
    -#%th{ :width => '15%'    }= link_to 'autor', '#'
    -#%th{ :width => '30%'    } popis
    %th{ :width => '25%'    } &nbsp;    
    = render(:partial => 'text_page', :collection => @text_pages)
  %tr
    %td{ :colspan => '4'}= will_paginate @collection, :previous_label => 'Předchozí', :next_label => 'Další'    