<p class="publication"><strong><%= Web::Calendar.current_day %></strong> <%= link_to "přehled vydání", "TODO" %></p>
<%= render :partial=>"web/articles/headliner_box" %>
<%= render :partial=> "web/articles/related" %>
<%= render :partial=> "web/articles/article_div" %>	

<div class="box cols cols3">
  <div class="col1">
    <h2 class="h line">Domov</h2>
	<%= render :partial=>"web/articles/section",:collection=>@homes %>
  </div> <!-- /.col1 -->
  
  <div class="col2">
    <h2 class="h line">Svět</h2>
    <%= render :partial=>"web/articles/section",:collection=>@worlds %>
  </div> <!-- /.col2 -->
  
  <div class="col3">
    <h2 class="h line">Názory</h2>
    <%= render :partial=>"web/articles/section",:collection=>@down_opinions %>
  </div> <!-- /.col3 -->
</div> <!-- /.cols -->