<%= render :partial=>"web/articles/headliner_box" %>
<%= render :partial=> "web/articles/related" %>
	        
<div class="box">
  <% if !@today_articles.blank? %>	
	  <h2 class="h <%= @headliner_box ? ' boxLine' : '' -%>">
	  	<% if Web::Calendar.week? && Web::Calendar.sunday? %>
	  		Víkend <%= Time.now.to_s(:cz_date) %>
		<% else %>
			Dnes <%= Time.now.to_s(:cz_date) %>
		<% end %>
	  </h2>
	  <div class="in">
		<%= render :partial=>"web/articles/left_article", :collection=>@today_articles,:locals=>{:with_date=>false,:small_class=>true} %>
	   </div> <!-- /.in -->
	<% end %>   
</div> <!-- /.box -->

<div class="box">
  <% if !@yesterday_articles.blank? %>	
	  <h2 class="h line">
	  	<% if Web::Calendar.week? && Web::Calendar.sunday? %>
	  		Pátek <%= (Time.now - 2.days).to_s(:cz_date) %>
		<% else %>
			Včera <%= (Time.now.yesterday).to_s(:cz_date) %>
		<% end %>
	  </h2>
	  <div class="in">
		<%= render :partial=>"web/articles/left_article", :collection=>@yesterday_articles,:locals=>{:with_date=>false,:small_class=>true} %>
	   </div> <!-- /.in -->
   <% end %>
</div> <!-- /.box -->
<div class="box">
   <h2 class="h line">Přehledy vydání</h2>
   <ul>
   	<% (1..5).each do |day| %>
		<% date = (Time.now - day.days).to_s(:cz_date) %>
		<li><%= link_to "Vydání ke dni #{date}", archiv_get_path(:date=>date) -%></li>
	<% end %>
     <li><%= link_to "Archiv vydání", archiv_path %></li>
   </ul>
</div> <!-- /.box -->


<div class="box cols cols3">
 <%= render :partial=>"web/sections/box" %>
</div> <!-- /.cols -->