<%= auto_discovery_link_tag(:rss, :controller=>"web/rss",:action => 'section',:section_id=>4) %>
<%= render :partial=>"web/articles/headliner_box" %>
<%= render :partial=> "web/articles/related" %>
	        
<div class="box">
  <% if !@all_opinions.blank? %>
  		<% all_ops = 0 %>
		<% prev = nil %>
		<% succ = nil %>
  		<% @all_opinions.each_with_index do |opinion,index| %>
	  		<% date = opinion.pub_date.to_date %>
			<% prev ||= date%>
			<% today_opinions = Article.opinions(date)%>
			<% all_ops += today_opinions.length %>
		  <h2 class="h <%= (index == 0 && @headliner_box.blank?) ? '' : 'line'%>">
		  	<% if date == Time.now.to_date %>
				Dnes <%= date.to_s(:cz_date) %>
			<% elsif date == (Time.now-1.days).to_date %>
				Včera <%= date.to_s(:cz_date) %>
			<% else %>
		  		<%= date.to_s(:cz_date) %>
			<% end %>
		  </h2>
		  <div class="in">
			<%= render :partial=>"web/articles/left_article", :collection=>today_opinions,:locals=>{:with_date=>true,:small_class=>true} %>
		   </div> <!-- /.in -->
		    <% if all_ops >= 12 %>
		   		<% succ = @all_opinions[index+1] if (index < (@all_opinions.length - 1)) %>
				<% break %>
		   <% end %>
	   <% end %>
	   <% art = Article.first(:conditions=>["publish_date > ? AND content_type_id IN (?)",prev.end_of_day,ContentType.opinion_types]) %>
	   <%= link_to "Předchozí", section_prev_path({:name=>pretty_name(@section),:prev_date=>prev}) if prev && art %>
	   <%= link_to "Další", section_succ_path(pretty_name(@section),succ.pub_date.to_date) if succ %>
   <% end %>
</div> <!-- /.box -->
<div class="box">
   <h2 class="h line">Přehledy vydání</h2>
   <ul>
   	<% (1..5).each do |day| %>
		<% date = (Time.now - day.days).to_s(:cz_date) %>
		<li><%= link_to "Vydání ke dni #{date}", archiv_get_path(:date=>date) -%></li>
	<% end %>
     <li><%= link_to "Archiv vydání", archiv_path %></li>
   </ul>
</div> <!-- /.box -->


<div class="box cols cols3">
 <%= render :partial=>"web/sections/box" %>
</div> <!-- /.cols -->