<div class="item itemBig">
  <div class="img">
    <a href=""><%= image_tag "web/banner-top.jpg",:alt=>"TODO" %></a>
    <div class="caption">
      <span>TODO</span>
    </div> <!-- /.caption -->
  </div> <!-- /.img -->
  
  <div class="self">
    <h2 class="head">
    	<%= "No first article" if @first_article.blank? %>
    	<%= link_to @first_article.name,"TODO" if @first_article %>
	</h2>
    <p class="perex">
    	<%= @first_article.perex if @first_article %> [...]
	</p>
  </div> <!-- /.self -->
</div> <!-- /.item -->

<ul class="list item">
	<%= "No articles" if @articles.blank? %>
	<% @articles.each do |article| -%>
		<li><%= link_to article.name, articles_path(:action=>"detail",:id=>article.id) %></li>
	<% end -%>
</ul>
	        
<div class="box">
  <h2 class="h line">Dnes <%= Time.now.to_s(:cz_date) %></h2>
  <div class="in">
  	<%= "No today articles" if @today_articles.blank? %> 
	<%= render :partial=>"web/articles/left_article", :collection=>@today_articles,:locals=>{:with_date=>false} %>
   </div> <!-- /.in -->
</div> <!-- /.box -->

<div class="box">
  <h2 class="h line">Včera <%= (Time.now.yesterday).to_s(:cz_date) %></h2>
  <div class="in">
  	<%= "No yesterday articles" if @yesterday_articles.blank? %> 
	<%= render :partial=>"web/articles/left_article", :collection=>@yesterday_articles,:locals=>{:with_date=>false} %>
   </div> <!-- /.in -->
</div> <!-- /.box -->
<div class="box">
   <h2 class="h line">Přehledy vydání</h2>
   <ul>
   	<% (1..5).each do |day| %>
		<% date = (Time.now - day.days).to_s(:cz_date) %>
		<li><%= link_to "Vydání ke dni #{date}", articles_path(:action=>"archiv",:date=>date) -%></li>
	<% end %>
     <li><%- link_to "Archiv vydání", "TODO" %></li>
   </ul>
</div> <!-- /.box -->


<div class="box cols cols3">
  <div class="col1">
    <h2 class="h line">Domov</h2>
				  	<%= render :partial=>"web/articles/section",:collection=>@homes %>
  </div> <!-- /.col1 -->
  
  <div class="col2">
    <h2 class="h line">Svět</h2>
    <%= render :partial=>"web/articles/section",:collection=>@worlds %>
  </div> <!-- /.col2 -->
  
  <div class="col3">
    <h2 class="h line">Umění</h2>
    <%= render :partial=>"web/articles/section",:collection=>@arts %>
  </div> <!-- /.col3 -->
</div> <!-- /.cols -->