<p class="publication"><strong><%= Web::Calendar.current_day %></strong> <%= link_to "přehled vydání", "TODO" %></p>
<%= render :partial=>"web/articles/headliner_box" %>
<%= render :partial=> "web/articles/related" %>

<% if @only_saturday %>
	<div class="box">
		  <h2 class="h line"></h2>
		  <div class="in">
			<%= render :partial=>"web/articles/left_article", :collection=>@saturday_articles,:locals=>{:with_date=>false,:small_class=>false} %>
		   </div> <!-- /.in -->
	</div> <!-- /.box -->
<% else %>
	<% unless @sunday_articles.blank? %>
		<div class="box">
		  <h2 class="h line">Neděle <%= @sunday.to_s(:cz_date) %></h2>
		  <div class="in">
			<%= render :partial=>"web/articles/left_article", :collection=>@sunday_articles,:locals=>{:with_date=>false,:small_class=>false} %>
		   </div> <!-- /.in -->
		</div> <!-- /.box -->
	<% end %>
	
	<% unless @saturday_articles.blank? %>
		<div class="box">
		  <h2 class="h line">Sobota <%= (@sunday - 1.days).to_s(:cz_date) %></h2>
		  <div class="in">
			<%= render :partial=>"web/articles/left_article", :collection=>@saturday_articles,:locals=>{:with_date=>false,:small_class=>false} %>
		   </div> <!-- /.in -->
		</div> <!-- /.box -->
	<% end %>
<% end %>



<div class="box">
   <h2 class="h line">Přehledy vydání</h2>
   <ul>
   	<% (1..5).each do |day| %>
		<% date = (Web::Calendar.sunday_date - day.weeks).to_s(:cz_date) %>
		<li><%= link_to "Víkend ke dni #{date}", sections_path(:action=>"detail",:date=>date) -%></li>
	<% end %>
     <li><%= link_to "Archiv vydání", articles_path(:action=>"archiv") %></li>
   </ul>
</div> <!-- /.box -->

<div class="box cols cols3">
  <%= render :partial=>"web/sections/box" %>
</div> <!-- /.cols -->