<p class="publication"><strong><%= Web::Calendar.current_day %></strong> <%= link_to "přehled vydání", "TODO" %></p>
<%= render :partial=> "web/articles/headliner_box" %>
<ul class="list item">
	<% @rel_articles.each do |article| -%>
		<li><%= link_to article.name, articles_path(:action=>"detail",:id=>article.id) %></li>
	<% end if @rel_articles -%>
</ul>
	        
<div class="box">
  <h2 class="h line"><% if !week? %>Názory<% end %></h2>
  <div class="in itemList">
  	<%= "No articles" if @articles.blank? %> 
	<%= render :partial=>"web/articles/left_article", :collection=>@articles,:locals=>{:with_date=>true,:small_class=>true} %>   
<!-- 
    <div class="cols cols3 next">
      <div class="col1">
        <h4 class="h">Další komentáře</h4>
        <ul>
          <li><a href="">TODO</a></li>
        </ul>
      </div>
      
      <div class="col2">
        <h4 class="h">Další sloupky</h4>
        <ul>
          <li><a href="">TODO</a></li>
        </ul>
      </div>
      
      <div class="col3">
        <h4 class="h">Další glosy</h4>
        <ul>
          <li><a href="">TODO</a></li>
        </ul>
      </div> 
    </div>          
-->  
  </div> <!-- /.in -->
</div> <!-- /.box -->

<% if @question %>
<div class="box">
  <h2 class="h line">Referendum dne</h2>
  <div class="in">              
    <div class="item itemSmallImage">
      <div class="img">
        <%= link_to(main_image_tag("../stylesheets/web/img/img-referendum-dne.jpg"),articles_path(:action=>:question,:id=>@question.id)) if @question_image %>
      </div> <!-- /.self -->
      
      <div class="self">
        <h3 class="head"><%= link_to @question.headline,articles_path(:action=>:question,:id=>@question.id) %></h3>
        <p class="perex"><%= @question.perex %></p>
      </div> <!-- /.self -->
    </div> <!-- /.item -->            
  </div> <!-- /.in -->
</div> <!-- /.box -->
<% end %>

<div class="box cols cols3">
  <%= render :partial=>"web/sections/box" %>
</div> <!-- /.cols -->