<%= auto_discovery_link_tag(:rss, :controller=>"web/rss",:action => 'index') %>
<% foot_rss(rss_path(:action=>"index")) %>

<p class="publication"><strong><%= Web::Calendar.current_day %></strong> <%= link_to "přehled vydání", archiv_path %></p>
<%= render :partial=> "web/articles/headliner_box" %>
<ul class="list item">
	<% @rel_articles.each do |article| -%>
		<li><%= link_to article_name(article), detail_article_path(pretty_id(article)) %></li>
	<% end if @rel_articles -%>
  <% @dailyquestions.each do |q| %>
    <li><%= link_to "Otázka dne: #{q.headline}", question_vote_path(:question_id=>"#{q.id}-#{q.headline.parameterize}")%></li>
	<% end %>
</ul>

<div class="box">
  <h2 class="h <%= @headliner_box ? 'line' : '' -%>"><% if !week? %>Názory<% end %></h2>
  <div class="in itemList">
	<%= render :partial=>"web/articles/left_article", :collection=>@today_opinions,:locals=>{:with_date=>true,:small_class=>true} %>
	<%= render :partial=>"web/articles/left_article", :collection=>@older_opinions,:locals=>{:with_date=>true,:small_class=>true} if @older_opinions %>   
  </div> <!-- /.in -->
</div> <!-- /.box -->
<%= render :partial=>"web/articles/referendum" %>

<div class="box cols cols3">
  <%= render :partial=>"web/sections/box" %>
</div> <!-- /.cols -->
