%tr{ :id => "tagselection_#{tag_selection.id}" }
  %td{ :class => "listItem l1"}
    .cropLine= link_to tag_selection.headline, '#', :title => tag_selection.headline, :id => "edititem1_#{tag_selection.id}", :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td= admin_date(tag_selection.updated_at)
  = render(:partial => 'shared/admin/edit_delete', :locals => { :obj => tag_selection, :del => 'TagSelection' })