%tr{ :id => "article_#{article.id}" }
  %td{ :class => 'listItem l1'}= link_to article.name, '#', :class => 'file', :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td= article.content_type.name
  %td= version(article)
  %td= article.publish_date.strftime('%d/%m/%y')
  %td= article.author.full_name
  %td= truncate(article.perex, :length => 100, :omission => "&hellip;")   
  %td{ :class => 'center' }
    -#= link_to 'editovat', '#', :id => "editarticle_#{article.id}"
    = link_to image_tag('item-edit.gif', :size => "12x11", :alt => "Editovat"), '#', :title => 'Editovat', :class => "edit_article", :onclick => "editRecord($(this), '#{@c_name}' ); return false"
    = link_to image_tag('delete-bin.gif', :size => "12x14", :alt => "Smazat"), '#', :title => 'Smazat'
    
    