.recordHeader
  %h2= link_to 'Editovat záznam', '#'
.recordPath
.recordEdit
  - form_for @article, :url => object_url, :html => { :method => :put } do |f|
    %fieldset
      = label(:article, :content_type_id, "Typ článku:", :class => "bold")
      = collection_select(:article, :content_type_id, ContentType.all, :id, :name )
      -#%strong Typ článku:
      -#= @article.content_type.name
      %br
      %br
      = render :partial => "form", :locals => { :f => f }
      = link_to "+ Pridej souvisejici clanky", "#?width=700&height=500", :class => 'thickbox_sidebar', :onclick => 'getRelationship(\'sidebar\'); return false', :id => "relart_#{@article.id}"
      #related_sidebar
      - if(@article.inverse_relarticles.size > 0)
        %br
        %br
        %strong Clanky odkazujici na tento clanek
        %br
        %br
        - @article.inverse_relarticles.each do |inv|
          = inv.name
        %br
        %br        
      - if(@article.relationships.size > 0)  
        %br
        %br
        %strong Souvisejici clanky
        %br
        %br
        - @article.relationships.each do |relationship|
          %div
            = relationship.relarticle.name
            = link_to "X", '#', :id => "relationship_#{@article.id}_#{relationship.id}", :onclick => 'removeRelationship( $(this)); return false'
        %br
        %hr
        %br  
      = render(:partial => 'shared/admin/add_images_to_edit')
      = render(:partial => 'shared/admin/add_files_to_edit')
      = render(:partial => 'shared/admin/add_audios_to_edit')
      = render(:partial => 'shared/admin/add_boxes_to_edit')                  
      %p= submit_tag "Upravit"