.recordHeader
  %h2= link_to 'Nový článek', '#'
.recordPath
.recordEdit

  = error_messages_for :article

  - form_for @article, :url => collection_url, :html => { :multipart => true } do |f|
    %fieldset
      = label(:article, :content_type_id, "Typ článku:", :class => "bold")
      = collection_select( :article, :content_type_id, ContentType.all, :id, :name )
      %br
      %br
      = render :partial => "form", :locals => { :f => f }
      = link_to "Pridat souvisejici clanky", "#?width=700&height=500", :class => 'thickbox', :onclick => 'getRelationship(); return false'
      #related
      %br
      %hr
      %br
      %strong Obrazky
      .dndContent
        %div{ :class => "listFiles" }
          %div{ :class => 'addedFile forImgr' }
      .dndContainer
        %div{ :class => 'dnd imgr' } Zde pretahnete obrazek    
      .clearer &nbsp;
      %br
      %strong Soubory
      .dndContent
        %div{ :class => "listFiles" }
          %div{ :class => 'addedFile forFilr' }
      .dndContainer
        %div{ :class => 'dnd filr' } Zde pretahnete soubor    
      .clearer &nbsp;
      %br
      %strong Audio
      .dndContent
        %div{ :class => "listFiles" }
          %div{ :class => 'addedFile forAudr' }
      .dndContainer
        %div{ :class => 'dnd audr' } Zde pretahnete audio    
      .clearer &nbsp;
      %br            
      %strong Info Boxy
      .dndContent
        %div{ :class => "listFiles" }
          %div{ :class => 'addedFile forBoxr' }
      .dndContainer
        %div{ :class => 'dnd boxr' } Zde pretahnete infobox    
      .clearer &nbsp;            
      %p= submit_tag "Uložit"      
          