%table
  %tr
    %th{ :width => '30%', :class => 'l1' }= link_to 'jmeno', '#'
    %th{ :width => '15%'    }= link_to 'zkratka', '#'
    %th{ :width => '45%'    }= link_to 'zivotopis', '#'
    %th{ :width => '10%'    } &nbsp;
  = render(:partial => 'author', :collection => @authors)
  = will_paginate @authors, :previous_label => 'Předchozí', :next_label => 'Další'  