%tr{ :id => "author_#{author.id}" }
  %td{ :class => 'listItem l1'}
    .cropLine= link_to author.full_name, '#', :title => author.full_name, :id => "edititem1_#{author.id}", :class => "edit_author",  :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td
    .cropLine= author.nickname 
  %td
    .cropLine= truncate(author.cv, :length => 100, :omission => "&hellip;") 
  = render(:partial => 'shared/admin/edit', :locals => { :obj => author })