%table
  %tr
    %th{ :width => '30%', :class => 'l1' }= link_to 'jmeno', '#'
    %th{ :width => '15%'    }= link_to 'zkratka', '#'
    %th{ :width => '45%'    }= link_to 'zivotopis', '#'
    %th{ :width => '10%'    } &nbsp;
    = render(:partial => 'author', :collection => @authors)
  %tr
    %td{ :colspan => '4'}= will_paginate @collection, :previous_label => 'Předchozí', :next_label => 'Další'