%br
= f.label :firstname, 'Jméno:'
= f.text_field :firstname, :class => 'inp'
%br
%br
= f.label :surname, 'Příjmení:'
= f.text_field :surname, :class => 'inp'
%br
%br
= f.label :nickname, 'Zkratka:'
= f.text_field :nickname, :class => 'inp'
%br
%br
= f.label :email, 'E-mail:'
= f.text_field :email, :class => 'inp'
%br
%br
= f.label :phone, 'Telefon:'
= f.text_field :phone, :class => 'inp'
%br
%br
= f.label :linkedin, 'LinkedIn:'
= f.text_field :linkedin, :class => 'inp'
%br
%br
= f.label :twitter, 'Twitter:'
= f.text_field :twitter, :class => 'inp'
%br
%br
= f.label :facebook, 'Facebook:'
= f.text_field :facebook, :class => 'inp'
%br
%br
= f.label :cv, 'Životopis:'
%br
= f.text_area :cv
%br
%br
= f.label :web_user_id, "Čtenář:"
= f.select :web_user_id, WebUser.all(:order=>"lastname").map{|t| ["#{t.full_name} (#{t.login})",t.id]}.insert(0, 'Vyberte čtenáře')
%hr
