%br
= f.label :firstname, 'Jméno:'
= f.text_field :firstname, :class => 'inp'
%br
%br
= f.label :surname, 'Příjmení:'
= f.text_field :surname, :class => 'inp'
%br
%br
= f.label :nickname, 'Zkratka:'
= f.text_field :nickname, :class => 'inp'
%br
%br
= f.label :cv, 'Životopis:'
%br
= f.text_area :cv
%br
%br