-#= f.label :name, 'Popisek:'
-#= f.text_field :name, :class => 'inp'
-#= render :partial => 'photo', :locals => { :f => f }
-#= params[:type]
%br
= f.label :parent_id, 'Zařaďte obrázky do struktury:'
= f.select(:album_id, nested_set_options(Album.all(:conditions => "album_type='#{params[:type]}'", :order => "created_at DESC" )) {|i| "#{'-' * i.level} #{i.name}" } )
%br
%br
%br
= f.label :name, 'Popisek:'
= f.text_field :name, :class => 'inp', :onchange => "change_settings();"
%br
%br
= f.label :author, 'Autor obrazku:'
= f.text_field :author, :class => 'inp'
%br
%br
= f.label :type_image, 'Typ obrazku:'
= f.text_field :type_image, :class => 'inp'
%br
%br
%p
  %b Nejprve vyplňte požadované údaje!
%br
.image-uploader
  = f.file_field :data, :class => 'inp'
%br
%br
  = f.submit "Uložit"

-#= render :partial => 'photo', :locals => { :f => f }
-##photos

-#= link_to_function "Přidat obrázek" do |page|
  -#- page.insert_html :bottom, :photos, :partial => 'photo', :locals => { :f => f }
