-#= f.label :name, 'Popisek:'
-#= f.text_field :name, :class => 'inp'
-#= render :partial => 'photo', :locals => { :f => f }
%br
= f.label :parent_id, 'Zařaďte obrázky do struktury:'
= f.select(:album_id, nested_set_options(Album) {|i| "#{'-' * i.level} #{i.name}" } )
%br
%br
%br
= f.label :name, 'Popisek:'
= f.text_field :name, :class => 'inp'
%br
%br

= f.label :data, 'Obrázek:'
= f.file_field :data, :index => nil, :class => 'inp'
%br
%br
= f.label :name, 'Popisek:'
= f.text_field :name, :class => 'inp'
%br
%br

= f.label :data, 'Obrázek:'
= f.file_field :data, , :index => nil, :class => 'inp'

-#= render :partial => 'photo', :locals => { :f => f }
-##photos

-#= link_to_function "Přidat obrázek" do |page|
  -#- page.insert_html :bottom, :photos, :partial => 'photo', :locals => { :f => f }