%table{ :width => '100%' }
  %tr
    %th{ :width => '4%'    } &nbsp;
    %th{ :width => '56%' }= link_to 'nadpis', '#'
    %th{ :width => '20%'     }= link_to 'datum publikace', '#'
    %th{ :width => '20%'    }= link_to 'autor', '#'
    = render(:partial => 'relationship', :collection => @relationships)
  %tr
    %td{ :colspan => '4' }
      %hr
  %tr
    %td{ :colspan => '4' }
      Stranka 1
      = will_paginate @relationships, :previous_label => 'Předchozí', :next_label => 'Další'