%tr{ :id => "section_#{section.id}" }
  %td{ :class => "listItem l#{section.level + 1}"}
    .cropLine= link_to section.name, '#', :title => section.name, :id => "edititem1_#{section.id}", :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td= admin_date(section.updated_at)
  %td
    .cropLine= truncate(section.description, :length => 100, :omission => "&hellip;")
  = render(:partial => 'shared/admin/edit', :locals => { :obj => section })