%tr{ :id => "dailyquestion_#{daily_question.id}" }
  %td{ :class => "listItem l1"}
    .cropLine= link_to daily_question.headline, '#', :title => daily_question.headline, :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td
    .cropLine= truncate(daily_question.question_text, :length => 100, :omission => "&hellip;")   
  %td= daily_question.publish_date.strftime('%d/%m/%Y')
  %td{ :class => 'center' }
    = link_to image_tag('item-edit.gif', :size => "12x11", :alt => "Editovat"), '#', :onclick => "editRecord($(this), '#{@c_name}' ); return false", :title => 'Editovat', :class => "edit_article"
    = link_to image_tag('delete-bin.gif', :size => "12x14", :alt => "Smazat"), '#', :title => 'Smazat' 