%tr{ :id => "dailyquestion_#{daily_question.id}" }
  %td{ :class => "listItem l1"}
    .cropLine= link_to daily_question.headline, '#', :title => daily_question.headline, :id => "edititem1_#{daily_question.id}", :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td
    .cropLine= truncate(daily_question.question_text, :length => 100, :omission => "&hellip;")   
  %td= admin_date(daily_question.publish_date)
  = render(:partial => 'shared/admin/edit_delete', :locals => { :obj => daily_question, :del => 'Dailyquestion' })