.recordHeader
  %h2= link_to 'Editovat otazku dne', '#'
.recordPath
.recordEdit

  = error_messages_for :dailyquestion

  - form_for @dailyquestion, :url => object_url, :html => { :method => :put } do |f|
    %fieldset
      = render :partial => "form", :locals => { :f => f }
      %br
      %hr
      %br
      %strong Obrazky
      .dndContent
        %div{ :class => "listFiles listImgr", :id => "filesLista_#{@object.id}" }
          - @object.pictures.each do |picture|
            %div{ :class => 'addedFile forImgr' }
              = image_tag(picture.data.url(:small))
              %br
              = link_to 'Odstranit', '#', :id => "img_#{picture.id}"
      .dndContainer
        %div{ :class => 'dnd imgr', :id => "dropi_dailyquestions_#{@object.id}" } Zde pretahnete obrazek
      .clearer &nbsp;
      %br
      %p= submit_tag "Upravit"

