= f.label :headline, 'Headline:'
= f.text_field :headline, :class => 'inp'
%br
%br
= f.label :question_text, 'Text otazky:'
%br
= f.text_area :question_text, :class => 'smallText'
%br
%br
%label{ :for => "dailyquestion_publish_date" } Datum publikace:
%input{ :id => "dailyquestion_publish_date", :name => "dailyquestion[publish_date]", :size => "30", :type => "text", :value => www_date(@dailyquestion.publish_date)}
%br
%br  
= f.label :perex, 'Perex:'
= f.text_area :perex
%br
%br
%strong Nazor ANO
%br
= f.label :text_yes, 'Nazor ano:'
%br
= f.text_area :text_yes, :class => 'smallText'
%br
%br
= f.label :author_yes, 'Autor ano:'
%br
= f.select( :author_yes, Author.all.collect {|u| [u.full_name, u.id]}, {:selected => @object.author_yes_id} )
%br
%br
%strong Nazor NE
%br
= f.label :text_no, 'Nazor ne:'
%br
= f.text_area :text_no, :class => 'smallText'
%br
%br
= f.label :author_no, 'Autor ne:'
%br
-#%select{ :  }
= f.select( :author_no, Author.all.collect {|u| [u.full_name, u.id]}, {:selected => @object.author_no_id} )
%br
%br

