= f.label :headline, 'Headline:'
= f.text_field :headline, :class => 'inp'
%br
%br
= f.label :question_text, 'Text otazky:'
%br
= f.text_area :question_text, :class => 'smallText'
%br
%br
%label{ :for => "dailyquestion_publish_date" } Datum publikace:
%input{ :id => "dailyquestion_publish_date", :name => "dailyquestion[publish_date]", :size => "30", :type => "text", :value => www_date(@dailyquestion.publish_date)}
%br
%br  
= f.label :perex, 'Perex:'
= f.text_area :perex
%br
%br
%br
%br
#dq
- f.fields_for :dailyquestion_authors do |a|
  %p{ :class => 'dayQuestion' }
  %br  
  = a.label :author_id, 'Vyberte autora:'
  %br
  = a.select( :author_id, Author.all.map {|u| [u.full_name, u.id]} )
  %br
  %br
  = a.label :question_text, 'Nazor:'
  %br
  = a.text_area :question_text, :class => 'smallText'
  %br
  %br
  %br
  %br 