%tr{ :id => "theme_#{theme.id}" }
  %td{ :class => 'listItem l1'}
    - count_theme = ArticleTheme.count(:conditions => {:theme_id => theme.id})
    .cropLine= link_to "#{theme.name} (#{count_theme})", '#', :id => "edititem1_#{theme.id}", :title => theme.name, :onclick => "editRecord($(this), '#{@c_name}' ); return false"
  %td= admin_date(theme.updated_at)
  %td= theme.user.user_name
  %td
    .cropLine= truncate(theme.description, :length => 100, :omission => "&hellip;")
  = render(:partial => 'shared/admin/edit_delete', :locals => { :obj => theme, :del => 'Theme' })
