%table
  %tr
    %th{ :width => '20%', :class => 'l1' }= link_to 'tema', '#'
    %th{ :width => '10%'     }= link_to 'datum', '#'
    %th{ :width => '15%'    }= link_to 'autor', '#'
    %th{ :width => '30%'    } popis
    %th{ :width => '25%'    } &nbsp;    
    = render(:partial => 'theme', :collection => @themes)
  %tr
    %td{ :colspan => '5'}= will_paginate @themes, :previous_label => 'Předchozí', :next_label => 'Další'  