  	<% if @week -%>
  		<body id='drWeekend'>
  	<% else -%>
		<body>
	<% end -%>
    <!-- Accessibility items - do not remove !!! -->
    <ul class="noscreen">
      <li><a href="#content">Přeskočit na obsah</a></li>

      <li><a href="#mainMenu">Přeskočit na menu</a></li>
    </ul>

    <hr class="hidden noprint" />

    <div id="view">
      <div class="topAdvert">
        <script type="text/javascript"><!--<![CDATA[
			/* (c)AdOcean 2003-2009 */
			/* SLAVE: imp_cz.Vydavatelstv_ Referendum
			s.r.o..Denikreferendum.cz.Leader board */
			if(typeof adoceanimpczofeplksldm=='function') adoceanimpczofeplksldm();
			//]]>-->
		</script>
      </div> <!-- /.topAdvert -->

    
      <div id="head">
        <div id="main">
          <h1 id="logo">
          	<% @breadcrumbs[0..-2].each do |txt, path| %>  
				<%= link_to(h(txt), path) -%>  
			<% end %>  
			<% if (@section && @breadcrumbs.last.first == @section.name) %>
				<%= link_to(h(@breadcrumbs.last.first),@breadcrumbs.last.last,:style=>"color:black;") %>
			<% elsif (@breadcrumbs.last.last == home_path) %>	
				<%= link_to(h(@breadcrumbs.last.first),home_path,:style=>"color:black;") %>
			<% else %>
				<%= h(@breadcrumbs.last.first) %>
			<% end %>
		  </h1>
        </div> <!-- /#main -->
		<span id="flash_notice" style="color: green"><%= flash[:notice] if flash[:notice] -%></span>
	   	<span id="flash_error" style="color: red"><%= flash[:error] if flash[:error] -%></span>
        <% form_tag(search_path,:id=>"search") do %>
			<fieldset>
				<%= text_field_tag "text", @text, :class=>"button" %>
				<%= submit_tag "Hledej", :class=>"submit" %>
			</fieldset>
		<% end %>
		
        <div id="mainMenu">
          <ul>
          	<% Section.all_root.each do |root| %>
				<% next if root.id == 9999 %>
				<% if (@section && @section.id == root.id) %>
	            	<li><%= link_to(root.name, section_path(pretty_name(root)),:style=>"color:black;") %></li>
				<% else %>
					<li><%= link_to(root.name, section_path(pretty_name(root))) %></li>
				<% end %>
			<% end %>
	      </ul>
        </div> <!-- /#mainMenu -->
        
        <div id="subMenu">
          <% if @section && !@section.children.blank? %>
	          <span>Podrubriky:</span>
	          <ul>
	            <% @section.children.each do |sub| %>
					<li><%= (@subsection && @subsection.id == sub.id) ? sub.name : link_to(sub.name, subsection_path(pretty_name(sub))) -%></li>
				<% end %>
	          </ul>
		  <% end %>
		  <%if !@top_themes.blank? %>
	          <span>Témata:</span>
			  <ul>
			  <% @top_themes.each do |tag| -%>
			  	<li><%= (@tag && @tag.id == tag.id) ? tag.name : link_to(tag.name, topic_path(pretty_name(tag))) -%></li>
			  <% end %>
			  <li><%= link_to "všechna témata", topics_path %></li>
	          </ul>
		  <% end %>	  
        </div> <!-- /#subMenu -->

        
        <div id="user">
          <ul>
            
            	<% if web_user_logged_in? %>
					<% if @web_user.is_admin? %>
						<% a_url = {:controller=>"/authadmin"} %>
					<% else %>
						<% a_url = user_info_path %>
					<% end %>
					<%= link_to "Zobrazit můj profil", a_url  %>
					<%#= link_to "Logout", logout_path %>
				<% else %>
					<li class="displayOverlay">
						<%= link_to "Přihlásit předplatitele","" %>
						<div class="overlay">
			                <% form_tag({:controller=>"/auth",:action => 'login'},:class=>"formBox") do -%>
			                  <fieldset>
			                  	<%= exit_span %>
			                    <h4 class="t">Přihlásit</h4>
								
			                    
			                    <div class="clearfix">
			                      <div class="lab">
			                        <label for="">Login:</label>
			                      </div> <!-- /.lab -->
			                      
			                      <div class="con">
			                        <input type="text" name="post[login]" id="" value="" class="button w100" />
			                      </div> <!-- /.con -->
			                    </div> <!-- /.clearfix -->
			                    
			                    <div class="clearfix">
			                      <div class="lab">
			                        <label for="">Heslo:</label>
			                      </div> <!-- /.lab -->
			                      
			                      <div class="con">
			                        <input type="password" name="post[password]" id="" value="" class="button w100" />
			                      </div> <!-- /.con -->
			                    </div> <!-- /.clearfix -->
			                    
			                    <input type="submit" value="Přihlásit" class="submit" />
			                    
			                    <ul class="offsetTop">
			                      <li><%= link_to "Registrace", signup_path%></li>
			                      <li><%= link_to "Ztracené heslo", lostpassword_path %></li>
			                    </ul>
			                  </fieldset>
			                <% end %>
	              		</div> <!-- /.overlay -->
					</li>
				<% end %>
            <li class="displayOverlay">
            	<a href="">Odebírat zpravodaj</a>
				<div class="overlay overlayLongLabel">
					<%= exit_span %>
				<% form_remote_tag(:url=>{:controller=>"/auth",:action => 'create_newsletter'}, :html=>{:class=>"formBox"}) do -%>
                  <fieldset>
                    <h4 class="t">Odebírat zpravodaj</h4>
                    <div class="clearfix">
                      <div class="lab">
                        <label for="newsletter_email">Váš e-mail:</label>
                      </div> <!-- /.lab -->
                      
                      <div class="con">
                      	<%= text_field "newsletter", "email", :class=>"button w100" -%>
                      </div> <!-- /.con -->
                    </div> <!-- /.clearfix -->
					<%= submit_tag "Potvrdit", :class=>"submit" %>
                  </fieldset>
				  <%= spinner_tag("news") %>
                <% end %>
              </div> <!-- /.overlay -->
			</li>
          </ul>
        </div> <!-- /#user -->
      </div> <!-- /#head -->