  	<% if @week -%>
  		<body id='drWeekend'>
  	<% else -%>
		<body>
	<% end -%>
    <!-- Accessibility items - do not remove !!! -->
    <ul class="noscreen">
      <li><a href="#content">Přeskočit na obsah</a></li>

      <li><a href="#mainMenu">Přeskočit na menu</a></li>
    </ul>

    <hr class="hidden noprint" />

    <div id="view">
      <div class="topAdvert">
        <a href=""><%= image_tag "web/banner-top.jpg" %></a>
      </div> <!-- /.topAdvert -->

    
      <div id="head">
        <div id="main">
          <h1 id="logo">
          	<% @breadcrumbs[0..-2].each do |txt, path| %>  
				<%= link_to(h(txt), path) -%>  
			<% end %>  
			<%= h(@breadcrumbs.last.first) %>
		  </h1>
        </div> <!-- /#main -->
        <% form_tag({:controller=>"sections",:action=>"search"},:id=>"search") do %>
			<fieldset>
				<%= text_field_tag "text", @text, :class=>"button" %>
				<%= submit_tag "Hledej", :class=>"submit" %>
			</fieldset>
		<% end %>
		
        <div id="mainMenu">
          <ul>
          	<% Section.all_root.each do |root| %>
	            <li><%= (@section && @section.id == root.id) ? root.name : link_to(root.name, sections_path(:action=>"detail",:id=>root.id)) %></li>
			<% end %>
	      </ul>
        </div> <!-- /#mainMenu -->
        
        <div id="subMenu">
          <% if @section && !@section.children.blank? %>
	          <span>Podrubriky:</span>
	          <ul>
	            <% @section.children.each do |sub| %>
					<li><%= (@subsection && @subsection.id == sub.id) ? sub.name : link_to(sub.name, sections_path(:action=>"subsection",:id=>sub.id)) -%></li>
				<% end %>
	          </ul>
		  <% end %>
	          <span>Temata:</span>
			  <ul>
			  <% @tags.each do |ttag| -%>
			  	<% tag = Tag.find(ttag.tag_id) -%>
			  	<li><%= (@tag && @tag.id == tag.id) ? tag.name : link_to(tag.name, articles_path(:action=>"topic",:id=>tag.id)) -%></li>
			  <% end -%>
	          </ul>
        </div> <!-- /#subMenu -->

        
        <div id="user">
          <!--<ul>
            <li><a href="">Login</a></li>
            <li><a href="">Odebrat Zpravodaj</a></li>
          </ul>-->
        </div> <!-- /#user -->
      </div> <!-- /#head -->