<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="author" content="Lukas Tomek (info@lukastomek.cz)" />
    <meta name="copyright" content="2008 Lukas Tomek - www.lukastomek.cz" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Noviny</title>

	<%= stylesheet_link_tag 'web/css/print' if @printable %>
    <%= stylesheet_link_tag 'web/css/default' unless @printable %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "init" %>
	<%= javascript_include_tag "calendar" %>
	<%= stylesheet_link_tag "calendar" %>
	<!--[if IE]><link rel="stylesheet" type="text/css" href="/stylesheets/web/css/msie.css" media="screen" /><![endif]-->
    <link rel="shortcut icon" href="" />
  </head>
<%= render :partial=>"layouts/web/top_html" %>
	
	      <hr class="hidden" />
	
	      <div id="content" class="cols hpCols">
	        <div class="col1">
	          <%= yield %>
	        </div> <!-- /.col1 -->
	        
	        <div class="col2">        
	        	<%= render :partial=>"layouts/web/col2" %>       
	        </div> <!-- /.col2 -->
	        
	        <div class="col3">
	          <div class="box boxAdvert">
	            <div class="in">
	              <%= link_to image_tag("web/banner-dr.jpg"), "TODO" %>
	            </div> <!-- /.in -->
	          </div> <!-- /.box -->
	        
	          <div class="box">
	            <div class="bSelf">
	              <div class="box">
	                <h2 class="h line">Autoři</h2>
	                <ul>
	                  <% @authors.each do |author| %>
	                  	<li><%= link_to author.full_name, articles_path(:action=>"author_info",:id=>author.id) %></li>
					  <% end%>
	                </ul>
	              </div> <!-- /.box -->
	              
	              <div class="box">
	                <h2 class="h line">Referendum</h2>
	                <ul>
	                  <li><a href="">TODO</a></li>
	                  <li><a href="">TODO</a></li>
	                </ul>
	              </div> <!-- /.box -->
	            </div> <!-- /.bSelf -->
	            
	            <%= render :partial=>"layouts/web/image_box" %>
	          </div> <!-- /.box -->
	          
	          <div class="box boxAdvert boxAdvertLine boxAdvert300">
	            <div class="in">
	              <a href=""><%= image_tag "web/banner-300.jpg" %></a>
	            </div> <!-- /.in -->
	          </div> <!-- /.box -->
			  
	          <div class="box boxSettings">
	            <h2 class="h line">Nejnovější</h2>            
	            <div class="in">            
	              <%= render :partial=>"web/articles/readest",:collection=>@newest %>
	            </div> <!-- /.in -->
	          </div> <!-- /.box -->
		  
	          <div class="box boxSettings">
	            <h2 class="h line">Nejčtenější</h2>            
	            <div class="in" id="in_readest">    
					<%= render :partial=>"web/articles/readest",:collection=>@readest %>
	            </div> <!-- /.in -->
	            
	            <ul class="settings" id="readest_settings">
	              	<%= render :partial=>"web/articles/readest_menu" %>
	            </ul>
				<%= spinner_tag('readest') %>
	          </div> <!-- /.box -->
	        </div> <!-- /.col3 -->
			<% if controller.action_name == "index" %>
			<div class="rightAdvert">
	          <%= link_to(image_tag("../stylesheets/web/img/img-scyscraper.jpg"),"TODO")%>
	        </div> <!-- /.rightAdvert -->
			<% end %>
	      </div> <!-- /#content -->
	
	      <hr class="hidden noprint" />
	
	      <div id="foot">
	        <%= render :partial=>"layouts/web/foot" %>
	      </div> <!-- /#foot -->
	    </div> <!-- /#view -->
		<% if @printable %>
		<script>
			window.print();
		</script>
		<% end %>
	</body>
</html>
