<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="author" content="Lukas Tomek (info@lukastomek.cz)" />
    <meta name="copyright" content="2008 Lukas Tomek - www.lukastomek.cz" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title></title>
    <% if @printable %>
		<%= stylesheet_link_tag "web/css/print", :media => "print" %> 
	<% else %>
		<%= stylesheet_link_tag 'web/css/default' %>
	<% end %>
    <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "jquery-1.3.2.min" %>
	<%= javascript_include_tag "jquery.scrollTo-1.4.0-min" %>
	<%= javascript_include_tag "jquery.serialScroll-1.2.1-min" %>
	<%= javascript_include_tag "web/cufon-arial" %>
	<%= javascript_include_tag "web/cufon-yui" %>
	<%= javascript_include_tag "web/fontCharger" %>
	<%= javascript_include_tag "init" %>
    <link rel="shortcut icon" href="" />
  </head>
    <%= render :partial=>"layouts/web/top_html" %>
      <hr class="hidden" />

      <div id="content" class="cols cols2v1">
        <div class="col1">
        
          <div class="box boxDetail">
          	<h2 class="head offsetBottom"><%= @headline || "Registrace předplatitele" %></h2>
			<div class="cols detailContent line offsetTop">
				<%= link_to "logout", logout_path if web_user_logged_in? %>
				<div class="col2">
	             	<%= yield %>
				</div>
			</div>
          </div> <!-- /.box -->
        
        </div> <!-- /.col1 -->
         <div class="col2">
        	<div class="box boxAdvert boxAdvert300">
	            <div class="in">
	              <a href=""><%= image_tag "web/banner-300.jpg" %></a>
	            </div> <!-- /.in -->
          	</div> <!-- /.box -->
			<%= render :partial=>"layouts/web/part/newest_box" %>
	        <%= render :partial=>"layouts/web/part/readest_box" %>
        </div> <!-- /.col2 -->
	  </div> <!-- /#content -->

      <hr class="hidden noprint" />

      <div id="foot">
        <%= render :partial=>"layouts/web/foot" %>
      </div> <!-- /#foot -->
    </div> <!-- /#view -->

  </body>
</html>