%table{ :width => '100%' }
  %tr
    %th{ :width => '4%'    } &nbsp;
    %th{ :width => '56%' }= link_to 'nadpis', '#'
    %th{ :width => '20%'     }= link_to 'datum', '#'
    -#%th{ :width => '20%'    }= link_to 'autor', '#'
    = render(:partial => 'relationquestionship', :collection => @relationquestionships)
  %tr
    %td{ :colspan => '4' }
      %hr
  %tr
    %td{ :colspan => '4' }
      = @relationquestionships.current_page.to_s + ". strana" if @relationquestionships.total_entries > 0
      = will_paginate @relationquestionships, :previous_label => 'Předchozí', :next_label => 'Další'
