%tr{ :id => "articleselection_#{article_selection.id}" }
  %td{ :class => "listItem l1"}= link_to article_selection.publish_date.strftime('%d/%m/%Y'), '#', :onclick => 'editArticleSelection($(this)); return false'
  %td= article_selection.section_id
  %td= article_selection.article_id
  %td= article_selection.sidebar_articles_ids
  %td{ :class => 'center' }
    = link_to image_tag('item-edit.gif', :size => "12x11", :alt => "Editovat"), '#', :onclick => 'editSection($(this)); return false', :title => 'Editovat', :class => "edit_article"
    = link_to image_tag('delete-bin.gif', :size => "12x14", :alt => "Smazat"), '#', :title => 'Smazat'