- if (search)
  - form_tag "admin/#{@c_name}", :method => :get, :id => "search_#{@c_name}" do
    %fieldset
      %strong filtr:
      %input{ :id => "search_#{@c_name}", :name => "search_#{@c_name}", :type => "text" }    
      = submit_tag "Hledej", :name => nil
      %input{ :id => "cancelSearch#{@c_name.camelize}", :name => 'cancel', :value => 'Zrusit vyhledavani', :type => 'button' } 
= link_to '+ novy zaznam', "#", :class => 'fr', :id => 'articles_new', :onclick => "newRecord('#{@c_name}'); return false"
.clearer
